[2019-12-02 18:44] maximilianh commented on #146
Good. I’ll fix this tomorrow. Sorry for the delay.

On Mon 2 Dec 2019 at 11:55, ljpearlman <notifications@github.com> wrote:

[2019-12-10 19:48] kathrinjansen opened #151 "cbBuild --init exit with status 1?"
Hi Maximillian,
thanks for this great tool! We are using it a lot in the Sansom lab. I'm trying to implement it into our pipeline but it seems like the init task always exits with the status 1. I've had a look through the cellbrowser.py script and as far as I can work out, the ```sys.exit(1)``` is used for the --init part (line 4252). Is there a specific reason for this? This does obviously crash

[2019-12-10 21:39] maximilianh commented on #151
Oh. You’re right. I never thought about this as a problem and will change
it.

How do you want the python function to work from a command line ?

On Tue 10 Dec 2019 at 20:48, Kathrin Jansen <notifications@github.com>
wrote:

[2019-12-11 14:34] kathrinjansen commented on #151
Great, thanks for changing this.

I was thinking of using it in a python script after importing the python function, e.g. ``` from cellbrowser import writeCellbrowserConf ```. I'm currently using v 0.7.3 and installed it through pip, but I can't import the individual function.

[2019-12-11 15:55] maximilianh commented on #151
Ah, yes you can use this function, though I'm not sure why you want to use
it... isn't "--init" good enough?
You're probably confused because the cellbrowser module is part of the
cellbrowser package (maybe not an ideal choice of name, but some Python
library packages do the same, e.g. datetime)

"shortLabel":"tsnecoords.tsv"}], "cellbrowser.conf")

to modify an existing cellbrowser.conf file, you

[2019-12-11 17:49] kathrinjansen commented on #151
Thanks for clarifying how to load the module - you're right, I didn't realise there was a module within the package.  I thought about using ```writeCellbrowserConf``` to avoid killing my pipeline with the current ```cbBuild --init``` and also to avoid switching between bash and python code if possible. Feel free to close this or to leave it until the ```sys.exit``` is edited.
Thanks a lot for your

[2019-12-12 10:50] kathrinjansen opened #152 "Example data not working with v0.7.3?"
Hi Maximilian,

I have just updated my cellbrowser from version 0.5.49 to the most recent version 0.7.3 using pip install. I'm trying the test data you provided in a new python virtual environment (version 3.7.3, only cellbrowser installed in it) and it does not give an error but doesn't load the data properly in a browser window. It does not show the usual "Open" button. I'll attach a screenshot

[2019-12-12 13:36] #151 closed

[2019-12-12 13:38] maximilianh commented on #151
OK removed the 1 error code. Let me know if I can do something else to make
this easier to integrate into pipelines.

One could imagine that the --init option could accept more arguments that
will be put automatically into the created config file or that it could
auto-detect the various file names if they follow some structure (e.g.
meta.tsv and *.coords.tsv)

[2019-12-12 15:00] maximilianh commented on #152
I've promised to another user to fix this ASAP and I really have to do it
now... please give me a few hours....

On Thu, Dec 12, 2019 at 11:50 AM Kathrin Jansen <notifications@github.com>
wrote:

[2019-12-12 15:12] maximilianh commented on #152
I had a fix ready but had not released yet. Can you try a pip install
cellbrowser --upgrade now?

Then, to upgrade your javascript code run "cbUpgrade", and unless you have
set CBOUT or the options in ~/.cellbrowser.conf, you'll probably want the
html directory with the -o option:

cbUpgrade -o PATHTOHTMLDIR

Then reload your page (possibly holding "shift" to avoid the caching)

To @mspeir: I am a

[2019-12-12 17:28] kathrinjansen commented on #152
I have updated to version 0.7.4 and tried both cbUpgrade and cbBuild from scratch, but neither generates the webpage with "Open" button at the moment. Now the port does not seem to 'receive' anything? I tried different ports and different browsers (I'm forwarding the port from an HPC to my local computer) but it I only get screen saying 'The connection was reset'.

[2019-12-12 17:51] maximilianh commented on #152
Ah. You're right. I didn't fix it. Let me retry tomorrow, this has to do
with the new collections.Sorry, it took me a while to reproduce it.

On Thu, Dec 12, 2019 at 6:28 PM Kathrin Jansen <notifications@github.com>
wrote:

[2019-12-12 17:54] kathrinjansen commented on #152
No worries, I'll wait for the next update.

[2019-12-13 22:52] maximilianh commented on #152
Hi Kathrin, can you try another "pip install cellbrowser --upgrade" ?

And then cbUpgrade --code -o <yourhtmldirectory> ?

It was something quite different from what I had expected, much simpler, at
least I hope. You'll also get checkboxes for easier selections now.

On Thu, Dec 12, 2019 at 6:54 PM Kathrin Jansen <notifications@github.com>
wrote:

[2019-12-13 22:52] maximilianh commented on #152
If this still doesn't work for you, and your cell browser is in a publicly
accessible location, could you send me the URL, possibly via personal
email? max@soe.ucsc.edu thanks!

On Fri, Dec 13, 2019 at 11:51 PM Maximilian Haeussler <maximilianh@gmail.com>
wrote:

[2019-12-14 11:56] kathrinjansen commented on #152
Hi Maximilian,
I've upgraded cellbrowser and tried again using the example data. Now it's back to the original issue - see screenshot above (says "Loading abstract.." when opening it). I have only tried to make it work on the example data for now so don't have anything to share at the moment. Does the example dataset work on your end then? I'm happy to share the content of my example run folder vi

[2019-12-15 10:33] maximilianh commented on #152
You're right, I again must have missed something, no need to share, I can
reproduce it on my own laptop with the sample file. I'll fix it ASAP.

On Sat, Dec 14, 2019 at 12:56 PM Kathrin Jansen <notifications@github.com>
wrote:

[2019-12-15 22:40] maximilianh commented on #152
oh. I see, this has nothing to do with the Javascript, I was looking at the
totally wrong place, it's the python code that creates invalid json
descriptions, but only for the case when there is a single dataset and only
if one is not using dataset hierarchies...

On Sun, Dec 15, 2019 at 11:32 AM Maximilian Haeussler <maximilianh@gmail.com>
wrote:

[2019-12-16 00:28] #152 closed

[2019-12-16 00:29] maximilianh commented on #150
Thanks! Removed the links now if the site is not running at "ucsc.edu". You
can upgrade with pip install cellbrowser --upgrade, then do a "cbUpgrade
--code"

On Wed, Nov 27, 2019 at 12:55 PM ljpearlman <notifications@github.com>
wrote:

[2019-12-16 00:29] maximilianh commented on #150
Let me know if (when) this works for you, we can close the ticket then.

On Mon, Dec 16, 2019 at 1:28 AM Maximilian Haeussler <maximilianh@gmail.com>
wrote:

[2019-12-16 00:55] maximilianh commented on #152
OK, I think I've fixed this now, it's working with the sample. Sorry again
for the delay.

you can do a "pip install cellbrowser --upgrade", followed by "cbUpgrade
--code -o <htmlDir>"

On Sun, Dec 15, 2019 at 11:39 PM Maximilian Haeussler <maximilianh@gmail.com>
wrote:

[2019-12-16 08:01] kathrinjansen commented on #152
Hi Maximilian,
it's working for me on example and real datasets now! Thanks for fixing it!

[2019-12-16 13:22] maximilianh commented on #146
This got solved with the last update, sorry for the delay. You can upgrade with pip install cellbrowser --ugprade and then do a "cbUpgrade --code -o <outdir>"

[2019-12-16 13:22] #146 closed

[2019-12-16 13:22] #150 closed

[2019-12-16 14:13] maximilianh commented on #149
Thanks! Interesting use case.
Fixed now in the dev branch. Should go out with the next release, hopefully next week. If you need it right now, you would have to do a git checkout of the "develop" branch.

Let me know if you need other UI changes (remove the menu bar?). Also I'm curious to see what your current production version looks like and I'd like to link to you.

[2019-12-16 14:15] #142 closed

[2019-12-16 14:18] maximilianh commented on #141
Hi Prete, did you cell browser install go well? Any problems?

[2019-12-16 14:18] #141 closed

[2019-12-16 14:23] prete commented on #141
Yes, it did and we finished all the needed tests. Importing data from h5ad to cellbrowser was done using [scanpy.external.exporting.cellbrowser](https://icb-scanpy.readthedocs-hosted.com/en/latest/external/scanpy.external.exporting.cellbrowser.html) and it took quite a while to import. Besides that, everything else went well.

[2019-12-16 14:24] wikiselev commented on #141
Thanks, Max! I will reply to your email this week, sorry for the delay! Vlad

[2019-12-16 14:28] maximilianh commented on #141
Great, thanks!

On Mon, Dec 16, 2019 at 3:24 PM Vladimir Kiselev
<notifications@github.com> wrote:

[2019-12-16 21:01] ljpearlman commented on #149
Looks good, thanks. The best link for our production version is https://doi.org/10.25548/16-WKEA, and we'd be happy to have you link to it.

We'll upgrade production as soon as the new release comes out, both because of the new features and because it turns out we have a large dataset that only works with the new stuff (it needs the --useMtx option to cbImportSeurat).

We probably will have some m

[2019-12-16 22:02] ljpearlman opened #153 "cbUpgrade errors (0.5.49 -> current develop branch)"
I'd previously installed 0.5.49, and when trying to upgrade, I got this:

[code]

Also, there's a typo in the help output for cbUpgrade:
[code]

but the output directory is specified with the `-o` option (which is documented later in the help), not as a positional argument.

[2019-12-17 23:42] maximilianh commented on #153
Thanks for the typo!

But are you sure that you have run cbBuild before to convert this dataset ?
cbUpgrade does not convert, it only updates the dataset.json files...

On Mon 16 Dec 2019 at 23:02, ljpearlman <notifications@github.com> wrote:

[2019-12-18 16:32] maximilianh commented on #153
Hi @ljpearlman, just wondering if I've misunderstood something. But it
looks to me like the dataset.json is not there, which suggests that
the dataset was never built.

It may be confusing, but right now we have two different commands:
cbBuild, to build the dataset to the output directory and which is
documented quite a bit. And cbUpgrade, which we have documented only
in the context of dataset hi

[2019-12-18 16:32] maximilianh commented on #149
just a note that since I'm using bootstrap, I think it's not too hard
to collapse the menubar into a hamburger three-line menu (I hate these
hamburger menus... but for integration it may be easier)

[2019-12-18 22:48] ljpearlman commented on #153
There are dataset.json files for the individual datasets, but it seems to be looking for a top-level dataset.json file.

[code]

cbupgrade -code gives me a similar error:
[code]

[2019-12-26 03:33] dskyeong opened #154 "Password for each data set"
Hi, I've installed cell browser 0.7.1.
Before releasing data, we need to keep it in personal.
Please, let me know how I can set the authority for each data set.
Thank you

[2019-12-27 16:24] maximilianh commented on #154
There is no password right now built into it... the reason is that it's
hard to limit access from Javascript...

However, because the cell browser is so small, you could simply create a
separate cell browser per each project / user. Then, you could put them
into different subdirectories of your http server, and have a
username/password for each directory. Would that work for you?

Maybe if you exp

[2020-01-17 22:57] moqri opened #155 "Incorrect external URL for HCA Human Pancreas"
"HCA Human Pancreas" page refers to https://data.humancellatlas.org/explore/projects/f83165c5-e2ea-4d15-a5cf-33f3550bffde/external-resources which seems to be incorrect.

http://cells.ucsc.edu/?ds=xena&meta=freeannotation

[2020-01-20 14:29] maximilianh commented on #155
Let us know if you're interested in other HCA datasets.

On Mon, Jan 20, 2020 at 3:29 PM Maximilian Haeussler <maximilianh@gmail.com>
wrote:

[2020-01-28 00:53] Gibbsdavidl opened #156 "help with cell annotations"
Hi there,

Loving the package!
I'm trying to add an additional column to the cell metadata. But, when I want to color cells by cell type ... it keeps complaining that the field ('cell_id' below) is a unique identifier ... would really appreciate some help!

**The meta.tsv file looks like:**
        batch   UMI Count       Percent Mitochond.      pheno   sample  Expressed Genes leiden  cell_id
AAAG

[2020-01-28 00:56] Gibbsdavidl opened #157 "Resize the side panels."
Would be lovely to resize the two side panels, similar to how the heatmap can be resized.

[2020-01-28 12:51] maximilianh commented on #156
Thanks! Glad that someone likes it.

are you able to share the full meta.tsv file? I'd love to look at it, I
suspect some newline or tab related problem or something strange with the
header lines...

On Tue, Jan 28, 2020 at 1:53 AM David L Gibbs <notifications@github.com>
wrote:

[2020-01-29 00:45] cotedivoir commented on #66
got the same issue, tried to downgrade pandas as you suggested, still there:

`cbScanpy -e filtered_gene_bc_matrices/hg19/matrix.mtx -o scanpyOut -n pbmc3k
INFO:root:Loading Scanpy libraries
INFO:numexpr.utils:NumExpr defaulting to 8 threads.
INFO:get_version:dirname: Trying to get version of get_version from dirname /home/cotedivoir/.local/lib/python3.6/site-packages
INFO:get_version:dirname: Fai

[2020-01-29 15:14] maximilianh commented on #66
It looks like this is scanpy==1.4.5.post2 anndata==0.7.1 umap==0.3.10
numpy==1.18.1 scipy==1.4.1 pandas==0.22.0 scikit-learn==0.22.1
statsmodels==0.11.0

How did you install sacnpy?

[2020-01-29 15:14] maximilianh commented on #66
overall, it doesn't look like this is an issue with the cellbrowser,
but rather with your scanpy installation?

how did you install the cellbrowser and which version?

[2020-01-29 17:11] cotedivoir commented on #66
Thank you for the reply!

version: cellbrowser (0.7.7)
how installed: pip3 install

[2020-01-29 17:24] Gibbsdavidl commented on #156
Ah! With your hint, I fixed it.

Turned out that I was missing a column name over the cell barcode 'index'.  I guess all columns need a header? Unlike R data.frames where the first column, with no header, can be interpreted as row names.

so it's like:

index  batch    UMI Count   Percent Mitochond.   pheno   sample   Expressed Genes   leiden   cell_id
AAAGTCCCAAGTGGGT-0 0 18572 0.015507215 T gene

[2020-01-29 18:31] matthewspeir commented on #155
Hello, @moqri! Thanks again for the report. We've now fixed the URL on our main site. Let us know if you have any more issues with the UCSC Cell Browser.

[2020-01-29 18:31] #155 closed

[2020-01-29 20:56] maximilianh commented on #156
Hm. Yes, R is very weird in this respect. If you use the R exporter
supplied with cell browser, or the one in Seurat, it takes care of that.

But if you share an example, I can also add a special case to cbBuild to
handle this case.

On Wed 29 Jan 2020 at 18:24, David L Gibbs <notifications@github.com> wrote:

[2020-01-29 20:57] maximilianh commented on #66
Thanks! How did you install scanpy? With conda?

On Wed 29 Jan 2020 at 18:11, Anastasia <notifications@github.com> wrote:

[2020-01-29 23:36] cotedivoir commented on #66
no, same way - pip3

[2020-01-30 14:22] maximilianh commented on #66
Hm, I can't reproduce this... is this on OSX or Linux? If yes, which linux
version?

This doesn't seem to be a cellbrowser problem, but something with your
scanpy install... did you ask the scanpy people?

On Thu, Jan 30, 2020 at 12:36 AM Anastasia <notifications@github.com> wrote:

[2020-01-31 22:37] cotedivoir commented on #66
think i should have started with this: i use WSL for windows with Ubuntu distribution

[2020-02-01 22:47] maximilianh commented on #66
Urgs. OK, I don't really want to dig into this. It's a problem with scanpy,
partially due to them constantly making breaking changes. Can you ask them?
I don't know about about scanpy. You can probably easily reproduce this
problem by running a standard scanpy tutorial.

Can I ask why you're using the scanpy pipeline of cellbrowser? Do you have
your own results or is this part of a term project an

[2020-02-02 01:28] cotedivoir commented on #66
ok, sorry for bothering, i'm just trying to learn more about single cell data analysis. not much structured information around. so i found cellbrowser, and as you say cbScanpy has already prebuild pipeline so i decided that would be a way to start

[2020-02-02 19:23] maximilianh commented on #66
It usually is but only if your scanpy works. The recommended way to install
scanpy is conda, it has a ton of dependencies.

On Sun 2 Feb 2020 at 02:28, Anastasia <notifications@github.com> wrote:

[2020-02-02 19:24] maximilianh commented on #66
Oh that would be the reason by the way: install scanpy with conda! I don’t
think the pip way is recommended anymore. Try conda as let me know if it
works then.

On Sun 2 Feb 2020 at 20:22, Maximilian Haeussler <maximilianh@gmail.com>
wrote:

[2020-02-05 14:38] maximilianh commented on #157
Sorry for the delay: I agree that would be nice, but I am not sure I
have the time for it. Wouldn't a mouse over be good enough? The mouse
over could show the longer names. Don't I already have mouse overs in
place for most strings that can go over the panel?

BTW: do you have a website where I could look at an example where the
current dimensions are a problem?

On Tue, Jan 28, 2020 at 1:56 AM Da

[2020-02-06 18:40] Gibbsdavidl commented on #157
Hi there,  Yeah, not a big deal... it's a wish list item.  Sorry our data is private right now.. but here's a screen shot.  You can see some of the cell type labels are so long they wrap around.. maybe OCD of me, but I really want to stretch out the panel so they don't wrap.

Maybe I can figure it out!  ;-)

![image](https://user-images.githubusercontent.com/561865/73967539-eb834b80-48cc-11ea-90a8

[2020-02-07 16:57] maximilianh commented on #157
If you could suggest a good javascript library for doing stretching, that
would be a big help. I spent a few hours one day, just to go in circles.
Ideally something small with minimal dependencies. I ended up writing it
myself for the heatmap but it wasn't very general.

Possibly you could just copy what I did for the heatmap ...? My
implementation is not great at all though, you may want to restr

[2020-02-07 17:36] #137 closed

[2020-02-07 19:08] matthewspeir commented on #29
@maximilianh  it seems like both points from the original note are now implemented? You can find cells both by some selection criteria or by cell ID. Can we close this issue?

[2020-02-07 19:10] matthewspeir commented on #33
@maximilianh Have these datasets now been brought in? Can we close this issue? Maybe you can send me a link the Google Doc with the other list as well?

Maybe we can close this issue?

[2020-02-07 21:46] maximilianh commented on #29
Yes!

On Fri 7 Feb 2020 at 20:08, Matt Speir <notifications@github.com> wrote:

[2020-02-07 21:46] cotedivoir commented on #66
Hi! Installed scanpy via conda, still get the same error

[2020-02-07 21:47] matthewspeir commented on #29
Awesome. Closed. :)

[2020-02-07 21:47] #29 closed

[2020-02-10 19:08] matthewspeir commented on #62
This appears to be implemented and functioning on cells.ucsc.edu. I think we can close this. Re-open it if you feel like there's still more to go here.

[2020-02-10 19:08] #62 closed

[2020-02-10 19:29] matthewspeir commented on #65
Well, whatever issue I was seeing last March seems to be fixed now on cells.ucsc.esu. Closing.

[2020-02-10 19:29] #65 closed

[2020-02-10 20:50] matthewspeir commented on #111
I see that the checkboxes are now in place on cells-test, but it would be great to also see the "Hide selected cells" return as I know it was requested by someone in #30.

[2020-02-10 21:11] matthewspeir commented on #131
@maximilianh What else were you imagining for this ticket?

[2020-02-10 23:23] matthewspeir commented on #129
@maximilianh is there anything left to do for this ticket? cbImportSeurat now uses the same methods as Andrew R code, right?

[2020-02-11 10:24] maximilianh commented on #129
This was a long time ago, and the code has been through a few iterations.
In short, yes it should work, but I'm not using his code, if the matrix is
too big, I'm writing the numbers as an "mtx" file and two small text
files,  one for genes and one for the cell IDs. That's weirdly enough the
most standard way to save it.

The long version is that we're hitting a limit here and people who claimed
be

[2020-02-11 15:01] maximilianh commented on #131
I think what I fixed is that the 0 is not first anymore but in order. What
I didn't change was the color scale.

With expression values, I think having the white on the negative numbers,
as we have it now, makes most sense. It's just a gradient from low to high
after all.

With meta data I'm not sure... do you have an example with negative numbers
in the meta data?

[2020-02-11 21:31] Gibbsdavidl commented on #157
I'm getting advice from the web dev in our lab.

[2020-02-12 09:35] maximilianh commented on #157
Ah, good. What is the advice?

On Tue, Feb 11, 2020 at 10:31 PM David L Gibbs <notifications@github.com>
wrote:

[2020-02-13 17:34] matthewspeir commented on #66
@ivirshup We think this might be an issue with scanpy (or maybe just their install of scanpy). Do you have insights into the issues this user is seeing?

[2020-02-13 21:21] karthigayini opened #158 "Color error in the browser"
HI

I used cellbrowser v0.7.1 in a HPC environment to create the files required to host it on our website.
The issue here is that a warning message pops:
![image](https://user-images.githubusercontent.com/17323593/74478927-f06b7080-4e73-11ea-8436-a7b8eb452e0e.png)
 On closing the dialog box, we are able to see only black and white images.
Additional problem here is that, the above warning **does n

[2020-02-13 22:56] maximilianh commented on #158
Sure, we’ll get this to work, no worries.

 Is this website accessible from outside ? Is there a way I could reproduce
or look at this ?

The most mysterious part is that it’s working from your laptop but not from
other peoples’ laptops... you are all accessing the same website I assume?

On Thu 13 Feb 2020 at 22:21, Karthigayini Sivaprakasam <
notifications@github.com> wrote:

[2020-02-14 01:05] karthigayini commented on #158
Is this website accessible from outside ? Is there a way I could reproduce
or look at this ?
Sure sure. Here is the link http://www.konopkalab.org/cellbrowser/

Yes, we are all using the link given above, where the results are hosted.

[2020-02-14 13:14] maximilianh commented on #158
Hm, weird it's all working fine for me...
E.g. http://www.konopkalab.org/cellbrowser/?ds=integrImport&meta=DFclassifications02500053794&layout=1

Hey @matthewspeir do you see any problems, when looking at this link
on your laptop?

Karthigayini, do you know if these eight other people who have
problems loading the page have anything in common in their computer
configuration? Are they all Windows m

[2020-02-14 14:16] maximilianh commented on #158
(Oops. I'm getting this error now on our own testing site, but not yours.)

Can I ask how you installed the cell browser?

On Fri, Feb 14, 2020 at 2:13 PM Maximilian Haeussler
<maximilianh@gmail.com> wrote:

[2020-02-14 14:25] maximilianh commented on #158
This may be unrelated, but I am getting the same error, due to change
I made yesterday, but the change was committed only to the develop
branch and only on the github repo, it was never released or merged
into the master branch. I know it's unlikely, but did you happen to
install from the "develop" branch?

On Fri, Feb 14, 2020 at 3:15 PM Maximilian Haeussler
<maximilianh@gmail.com> wrote:

[2020-02-14 17:04] karthigayini commented on #158
Karthigayini, do you know if these eight other people who have
problems loading the page have anything in common in their computer
configuration? Are they all Windows machines, for example?
They are all different kinds of machines with different OS, in fact- Mac, Windows, VM - in Mac, Dell, Thinkpad and a desktop.

I, too , think this is weird. The only common thing is we used the same WiFi.
Do yo

[2020-02-14 20:30] matthewspeir commented on #158
Hmm. I don't seem to be able to replicate.

@karthigayini Can you give the exact steps taken on these other computers to trigger the errors? For example, was it immediately after you open the dataset, or did it only happen with a specific metadata field, or did you have to zoom in or select some certain set of cells?

@maximilianh Would it be helpful to have zip of the cbBuild output to see if we

[2020-02-14 23:14] Gibbsdavidl commented on #154
I found a partial solution for this:  https://github.com/matteobrusa/Password-protection-for-static-pages

Essentially, a password is used to create a long hash, which is then used as a directory name... you create that directory (with the hash as name) and you pop the index.html (and other files) into that hashed directory.  works well.

[2020-02-16 20:40] maximilianh commented on #158
@mattspeir you mean copy
http://www.konopkalab.org/cellbrowser/and serve the page from our web
server, to see if it has to do something with the particular combination of
web server and web browser ? Hm. We can try but it seems really unlikely,
as all the three of us can’t reproduce the problem...

On Fri 14 Feb 2020 at 21:30, Matt Speir <notifications@github.com> wrote:

[2020-02-17 16:38] karthigayini commented on #158
@matthewspeir It is exactly after we click "open".
I understand it is difficult to solve something we don't see, unfortunately it is true that the error pops.

[2020-02-17 16:46] karthigayini commented on #158
So, I opened the link "http://localhost:8888" first ( without even running any cellbrowser) in a new laptop and then opened the konopkalab.org/cellbrowser link. Now the colors are seen. Did the same with another computer and works.
I think, the the browser should have opened the localhost once to see the colors.
I am not sure if this makes sense technically but work.

Yet, there is a problem as no

[2020-02-19 00:09] matthewspeir commented on #158
I was actually able to replicate this issue using FireFox.

The same error message shows up when I open the dataset in FireFox:

And I see the following If I open the debug console:

[2020-02-19 00:09] matthewspeir commented on #158
@maximilianh Can you try opening their cell browser in FireFox to see if you can replicate the issue?

[2020-02-24 16:05] karthigayini commented on #158
Is there any update? We really need this to be up and running soon. Sorry to bother.

[2020-02-24 16:18] maximilianh commented on #158
Hi, sorry, it slipped. I'm just looking at it again now, in the meantime,
would it be possible to share the dataset with us? Debugging is so much
easier if I have the data on disk here. You can share it with
max@soe.ucsc.edu via dropbox or google drive or better yet provide a http
link. I'd like to get the input matrix, meta data and cellbrowser.conf and
anything else in the input directory requir

[2020-02-24 19:09] maximilianh commented on #158
To confirm, I'd only use it for debugging and delete it afterwards.

[2020-02-25 15:10] maximilianh commented on #158
And @matthewspeir, I was able to replicate the issue in Firefox. It's not related to the compression, at least I think so, as the compression header is not set on the file. I don't know what it is, if we have the source files, we could host the files on our Apache temporarily and check if it's webserver related (most likely). Once we know what it is, I can work around it on the client or we can te

[2020-02-25 15:11] maximilianh commented on #158
Hey @karthigayini is there any way you could prepare a zip or tgz file of these html files or send us the input files with the cellbrowser.conf file? Sorry to bother, but you said that you needed it soon and I'm happy to help, but I think without the files (either the html directory or the input directory), it'll be a lot easier debug. For now I'm still looking at Firefox.

[2020-02-25 16:49] karthigayini commented on #158
Hi. Sorry for the delay. Sure. I will send all the necessary files as a http link to max@soe.ucsc.edu.
A quick note, do you also see that the error is resolved if you open the http://localhost:8888 once?

[2020-02-25 17:17] matthewspeir commented on #158
Hi @karthigayini, "localhost" refers to your computer/server. It's not accessible from the outside. If I put the localhost address into the address bar for my computer, it's going to look for a server running on my local machine, not the cell browser instance on your servers. Even then, I tried navigating to the localhost address you shared first and I still get the error in FireFox.

In the meant

[2020-02-25 17:26] karthigayini commented on #158
Thanks for the explanation.
We tried in chrome and still the same error.
I am uploading the files and will send them as soon as it is done.

[2020-02-27 16:48] saeedfc opened #159 "Sharing or local hosting"
Dear,

Thanks for the tool. I was wondering, if it would be possible for me to deposit the output of cbBuild on a shared folder (on university server storage which is accessible by everyone at the lab) in the lab and everyone can access it by clicking on index.html file or some other URL? Maybe a silly question, But I don't know how this works.
Also,
At the moment,now, when I build with -p 8888 op

[2020-02-27 17:07] maximilianh commented on #159
Absolutely, I've written a bit of documentation about this here:
https://cellbrowser.readthedocs.io/internet.html

And yes, closing the terminal shuts down the webserver and so you can't
access it anymore. It's really preferable to have it all copied to some
webserver. What is your University? Don't you have a lab website?

Otherwise: we can host your dataset. All you have to do is send us the
cel

[2020-02-28 09:15] saeedfc commented on #159
Dear Max,

Thanks for the response. I am at KU Leuven university, Belgium. Unfortunately, we don't have an independent lab website at the moment. What we have is a shared storage which is accessible by an y lab member. What I would like to do is to put he directory there and give my colleagues a web interface to browse the data.

Once I keep the output folder there, how can people open the data in

[2020-02-28 09:19] saeedfc commented on #159
Dear Max,

Thanks for the offer of hosting the data. We will definitely think about it once we publish. At the moment, we are constantly revising the datasets by adding more data and also I have multiple projects with different datasets.

[2020-02-28 15:22] saeedfc commented on #159
Hi,

I have now made a webpage with github pages.
https://saeedfc.github.io/Mucosal-Immunology-Lab-KUL/

Is it possible that I can host the data there?
Thanks

[2020-02-28 18:41] matthewspeir commented on #159
Hi, @saeedfc. It could work, although Github has limits on filesize. How large are your files? Github has a strict 100MB limit on file sizes: https://help.github.com/en/github/managing-large-files/conditions-for-large-files.

[2020-02-29 07:20] saeedfc commented on #159
Hi @matthewspeir
My file is 101MB and soon I will need to host nearly 500MB at least. So I better start a website.
But how how to port again the output of a build? Can I click on index.html to strt eh browser? It doesn't work for me. As I said above, I encounter an error. Can you kindly help with that?
Thanks and kind regards,
Saeed

[2020-02-29 17:31] maximilianh commented on #159
Hi Saeed, if your lab has no webserver and your University doesn't offer
any web hosting, then you could either buy some commercially (around 20eur
per month, we can recommend some companies) or we could host the dataset
for you, password-protected.

But as far as I know, IT at KU Leuven offers web hosting. They offer box
cloud storage, as you say (which doesn't work for hosting a cell browser,
th

[2020-03-02 09:23] saeedfc commented on #159
HI Maximilian,

I shall get back once I get it touch with he IT. Indeed I see that webhosting service is available.
Thanks a lot for your time!
Saeed

[2020-03-02 18:31] Gibbsdavidl commented on #159
I'm using github.. seems to be working pretty well.  I think it can go up to 1GB?
But another option is using a google bucket!  Unlimited size!  (you pay for it).

[2020-03-02 18:38] Gibbsdavidl commented on #157
Sorry, I don't have any real solutions yet.  *But*  a quick solution would be to have a configuration parameter (in the conf file) that sets the width of the side panels..   I think they're hard coded right now.

[2020-03-02 19:02] Gibbsdavidl opened #160 "feature request: heatmap to show marker genes for selected cluster"
Feature request  :-)

Heatmap to show marker genes for selected cluster.

Would be nice, if after selecting a group of cells, by cluster, if the heatmap would show the marker genes for that cluster, say from markers.tsv

[2020-03-06 17:21] maximilianh commented on #157
Good idea. In the develop branch, you can now set in cellbrowser.conf:
metaBarWidth = 400

I also increased the left sidebar to 270 pixels from 200, inspired by a
discussion with @mspeir. 250 pixels is the size of Gmail's left sidebar.

On Mon, Mar 2, 2020 at 7:38 PM David L Gibbs <notifications@github.com>
wrote:

[2020-03-06 17:22] maximilianh commented on #157
Can you use the git develop branch? Otherwise, I am happy to do a
pre-release in pip.

On Fri, Mar 6, 2020 at 6:21 PM Maximilian Haeussler <maximilianh@gmail.com>
wrote:

[2020-03-06 22:11] Gibbsdavidl commented on #157
Thanks! I'll give it a try.

[2020-03-09 15:23] Gibbsdavidl commented on #157
Seems to work well... but only the left-side-panel is changing.  Maybe would be nice to have the right side move too.  Could make larger violin plots, which would be nice.  Thanks though! This is good.

[2020-03-20 14:24] drbecavin opened #161 "desc.conf is not used ?"
Hello,
To create my cellbrowser I was trying to use desc.conf as mentionned in the readthedoc
Is it still a thing ?
Does not seem to be taken into consideration.
Thanks

[2020-03-20 16:29] matthewspeir commented on #161
Hello @drbecavin !

Yes, the desc.conf is still used to control the abstract, methods, etc. for your dataset.

Can you provide more details about the issue you're running into?

A few things it might be:
* The desc.conf should be in the same directory where you are running cbBuild.
* It's also possible that you're running into some browser caching issues. Have you tried doing a hard refresh of the

[2020-03-20 18:13] drbecavin commented on #161
First of all when running the cbBuild,n I got this:
`
cbBuild -i cellbrowser.conf -o /ipmc/site/microarray/cellbrowser/HCA
INFO:root:Loading settings from cellbrowser.conf
INFO:root:/home/becavin/hca/summary.html does not exist
INFO:root:/home/becavin/hca/methods.html does not exist
INFO:root:/home/becavin/hca/downloads.html does not exist
INFO:root:Getting md5 of /home/becavin/hca/metadata_FINAL_

[2020-03-20 19:50] slowkow opened #162 "display expression values in 2d bins"
I'd like to ask if it would be possible to change the way the data is displayed in the main window.

As far as I know, there are no scRNA-seq data browsers that use 2d bins to show expression data. I would hope that all browsers will use 2d bins in the future.

This article from the documentation for the [datashader] python package does a great job showing why plotting colored dots is not optimal

[2020-03-20 19:54] matthewspeir commented on #161
Those three files (summary/methods/downloads.html) were the previous way of describing a dataset and its download files. However, those were replaced with desc.conf quite a few versions ago. The latest pip version (0.7.7, I think) should be looking for the desc.conf file.

What version of the "cellbrowser" package do you have installed?

[2020-03-22 01:13] slowkow commented on #162
At this point I've hacked together my own javascript that builds on top of your foundation. I'm thoroughly impressed with your code.

Here are my attempts with d3 and vega. Of course I'd be happy to share the code. Right now I'm still playing around — eventually I'll make a blog post or something.

## CellBrowser

Here's a gene in CellBrowser:

![image](https://user-images.githubusercontent.com/20

[2020-03-27 22:34] detrout opened #163 "Categorical data's name column isn't sortable"
Using 0.7.7 I added a categorical data set and discovered the Name column wasn't sortable.

It looks like onSortByClick in cellBrowser.js expecting the span that's clicked has an id that ends with Col1. setLegendHeaders  adds some nested spans for the categorical data and the event passed to onSortByClick is pointing at

```<span class="tpLegendHover" title="click to sort by name"> Name<span...```

[2020-04-06 18:37] Parul-Kudtarkar opened #164 "sparse matrix format"
Does the cell browser support sparse matrix format and how to generate it?
I think this work generate sparse matrix, right? https://cellbrowser.readthedocs.io/seurat.html

[2020-04-06 19:30] matthewspeir commented on #162
Hey, @slowkow!

This is really cool and it seems like it would be a really great feature. We're currently focusing on bringing in new datasets, so I'm not sure we have any time to dedicate to this. If you have an idea for how to implement this on the python backend, we can certainly draw hexagons in Javascript. Basically, if you can implement this at least partially and then need help integrating

[2020-04-06 19:41] matthewspeir commented on #164
Hi, @Parul-Kudtarkar!

Yes, the Cell Browser supports .mtx formatted matrices (sparse matrices) for a variety of its tools. For the tools `cbImportCellranger`, `cbScanpy`, and `cbSeurat`, it seems like all you need to do is specify the directory where the 3 files (matrix.mtx, barcodes.csv, genes.csv) are and the tools will do the rest. So, for `cbSeurat`, a basic command might look like:
[code]

I

[2020-04-08 04:35] Parul-Kudtarkar commented on #164
Thank you very much @matthewspeir!

[2020-04-08 04:35] #164 closed

[2020-04-11 19:49] #156 closed

[2020-04-12 06:47] Parul-Kudtarkar opened #165 "Font-size for cluster title"
![Screen Shot 2020-04-11 at 11 44 07 PM](https://user-images.githubusercontent.com/22722805/79062352-9b1ec600-7c4e-11ea-872f-27be88703f5c.png)

I am trying to chnage the font size for the cluster title via. https://github.com/maximilianh/cellBrowser/blob/0d6d0e203a1e25c49d3522254ff223364a6a98f5/src/cbPyLib/cellbrowser/cbWeb/js/maxPlot.js#L265

However, it is not working. Any thoughts?

Thanks!!

[2020-04-13 16:40] #101 closed

[2020-04-13 17:48] maximilianh commented on #165
Yes, this is not the right location to change the font size of the labels.
Hey, I just remember, we have a nice pull request open to change the font
and the size, by Nikolai, unfortunately, we never really decided to go
forward with it. However, it will give you a good idea on how to do it:
https://github.com/maximilianh/cellBrowser/pull/145

Can you tell us a little what type of font you prefer?

[2020-04-13 17:54] maximilianh commented on #164
Just adding that cbBuild also accepts .mtx.gz files when you specify the
matrix via the exprMatrix option. If you have an .mtx.gz file, you can just
provide it, support should be transparent. Let us know if this doesn't work
or not as expected.

[2020-04-13 17:57] maximilianh commented on #162
Hi @slowkow <https://github.com/slowkow>, just adding that D3 was too slow
for this, at least in my hands, when I tried to draw many circles. The
calculation of the x,y coordinates would probably too slow for Javascript
and bigger datasets, I assume? So a python implementation may have
advantages: the coords would be precalculated and then the javascript only
would have to draw the hexagons. Hope

[2020-04-13 19:11] slowkow commented on #162
Here's what I have been hacking on in the past few weeks. It seems to work pretty well. It is fun to build on top of the foundation that you built with the binary files and range requests 😀

Data from [Smillie et al 2019](http://doi.org/dqdf)

![ezgif com-video-to-gif (2)](https://user-images.githubusercontent.com/209714/79151556-a67e0880-7d98-11ea-93f3-baa939c6dc86.gif)

[2020-04-13 21:27] Parul-Kudtarkar commented on #164
@maximilianh thanks; that works but I get error that matrix gene count has to match gene tsv file line count. Nothing wrong with the cbBuild; I will have to just get the corrected dataset from the person who generated it.

[2020-04-13 21:30] matthewspeir commented on #164
@Parul-Kudtarkar Is there a header line in the gene tsv file? I've run into issues in the past when my gene file had an extra header line at the top that wasn't part of the data.

[2020-04-13 21:41] Parul-Kudtarkar commented on #164
My genes tsv file does not have header line but barcodes tsv file does. let me remove the header from it and try. TYVM for a quick response

[2020-04-14 19:15] Parul-Kudtarkar commented on #165
@maximilianh thanks for a quick response. In our case we have clusters that are spatially close to each other that the fonts overlap. We want to reduce the font size. It would be good if we can change the font size label via. config files

[2020-04-14 19:32] #149 closed

[2020-04-15 22:31] pcm32 opened #166 "Single datasets direct entry into viewer (skip selection) for usage in Galaxy"
In the UCSC CellBrowser tool for Galaxy the idea is that the user has only a single dataset to see. Currently, since Galaxy 20.01 or 19.09, something in the Galaxy javascript seems to break the view of the selection part (useful when you have multiple datasets). @maximilianh mentioned that he could add an option so that if a single dataset was available to CellBrowser, it would take you directly t

[2020-04-16 05:38] Parul-Kudtarkar opened #167 "blank cluster canvas"
![Screen Shot 2020-04-15 at 10 33 56 PM](https://user-images.githubusercontent.com/22722805/79418365-48ece600-7f69-11ea-887d-7029e90f03ae.png)

The dataset matrix.mtx.gz (with features.tsv.gz and barcodes.tsv.gz); umap file & medata.tsv file is ingested without any errors; however the canvas is blank.

This is a large dataset with 132K cells. Is that an issue?

[2020-04-16 15:38] maximilianh commented on #164
Parul: just curious - did this work?

On Mon, Apr 13, 2020 at 11:41 PM Parul Kudtarkar <notifications@github.com>
wrote:

[2020-04-16 17:22] Parul-Kudtarkar commented on #164
@maximilianh once I got the right files it did work. TYVM!

[2020-04-16 18:29] Parul-Kudtarkar commented on #167
@matthewspeir thanks for a quick response! I indeed did not define the clusterField and labelField variables.

[2020-04-16 18:29] #167 closed

[2020-04-28 15:21] inodb opened #169 "Following a standard scanpy pipeline example gives index error"
Following https://cellbrowser.readthedocs.io/scanpy.html example using latest pip install of both scanpy and cellbrowser gives an error in the scanpy pipeline process.

When running

`cbScanpy -e filtered_gene_bc_matrices/hg19/matrix.mtx -o scanpyOut -n pbmc3k`

it gives an error

`reindexing only valid with uniquely valued index objects`

on the line

https://github.com/maximilianh/cellBrowser/bl

[2020-04-28 15:28] inodb opened #170 "Following a standard scanpy pipeline errors on cbBuild (resolveOutDir)"
This command fails:

`cbBuild -o ~/public_html/cb -p 8888`

because of `outDirs` missing from the default configuration

See:

https://github.com/maximilianh/cellBrowser/blob/634dd61069fa608f502cdb373cc85a657d9c6972/src/cbPyLib/cellbrowser/cellbrowser.py#L4166-L4171

In that case `confDirs` is None and `confDirs` is not iterable

Quick fix is to check for None, will send PR

[2020-04-28 17:14] maximilianh commented on #170
Oohhh! Nice ! Thanks !

On Tue 28 Apr 2020 at 17:28, Ino de Bruijn <notifications@github.com> wrote:

[2020-04-29 14:30] maximilianh commented on #162
Hi Kamil, looks great. Do you have a link to this? Curious how you
implemented it...

On Mon, Apr 13, 2020 at 9:11 PM Kamil Slowikowski <notifications@github.com>
wrote:

[2020-04-29 15:17] inodb commented on #136
@matthewspeir I would be interested in this as well. Just trying to get familiar with cell browser. I'd be happy to put something together, but I would need some pointers on what the format should be and what use cases to cover since. I'm not that familiar with ucsc cell browser yet

[2020-04-29 15:34] matthewspeir commented on #136
Hey, @inodb! Thanks for the offer. I'm actually working on an overhaul of the current documentation at the moment and am working on creating this tutorial as part of that work.

I think the tutorial will pick up after the installation section and step people through downloading a demo dataset, setting up the cellbrowser.conf and desc.conf needed for it, and then running cbBuild to build the cell b

[2020-04-29 16:43] inodb commented on #136
@matthewspeir Thanks! Glad to hear you are working on it! Overall I found the documentation to be great for installing and deploying cellbrowser. Nice to hear you are working on making it even easier :)

What I'm looking for at the moment is a manual for the user interface. So more of a tutorial showing the different use cases, e.g. like https://chanzuckerberg.github.io/cellxgene/posts/gallery or

[2020-05-01 15:00] inodb commented on #136
Ah I did just notice the `Help > Tutorial` button to get the interactive tour 👍. That one is great! Would be nice to extend it a bit for a particular dataset to show some nice biology

[2020-05-01 15:16] maximilianh commented on #136
Yes, I would love to do that, but I don't know how. Do you see how the
tutorial currently works? It's using a library that shows text. Ideally,
we'd want to run javascript functions that do things and also click
buttons. Maybe using another tutorial library?

On Fri, May 1, 2020 at 5:00 PM Ino de Bruijn <notifications@github.com>
wrote:

[2020-05-01 15:48] inodb opened #172 "is it possible to compare gene expression of one selected group vs another?"
e.g. i made these two groups:

<img width="200" alt="Screen Shot 2020-05-01 at 11 48 37 AM" src="https://user-images.githubusercontent.com/1334004/80818731-bc196d80-8ba1-11ea-921c-d86d8113922a.png">

Is it possible to compare expression of a single gene in these two groups. Or only both groups vs all other cells?

[2020-05-01 16:20] maximilianh commented on #172
Argh... most important feature request, but I have so little time...

No right now it only compares between the selection and the rest. If you
suggest a good user interface how we could show one selection versus
another selection, I'll implement it one day... or you could try...

On Fri, May 1, 2020 at 5:48 PM Ino de Bruijn <notifications@github.com>
wrote:

[2020-05-02 19:57] cotedivoir opened #173 "color buckets distribution after sctransform normalization"
Hi!

I have a weird issue with how color gradient buckets are distributed.

This is an example on how normal distribution should be:
<img width="150" alt="normal" src="https://user-images.githubusercontent.com/60413394/80890320-bf7d2980-8c73-11ea-8886-4dc3da4ac97c.png">
This is what I get after i normalize and scale the same Seurat object using Sctransform function:
<img width="145" alt="skewed" s

[2020-05-02 20:06] maximilianh commented on #173
Hi! Thanks!

Is it possible that 2.71 is a value that is very common in your expression
vector ? Is this a public dataset that I could look at ?

On Sat 2 May 2020 at 21:57, Anastasia <notifications@github.com> wrote:

[2020-05-02 20:15] cotedivoir commented on #173
vector ?

no, doesn't look like that

no, unfortunately i can't publish it right now :(

[2020-05-02 20:43] maximilianh commented on #173
I can pull out the code but the way I do it is to sort the values and then
take the 0 percentile, the 10 percentile, 20 percentile etc. for the breaks
between the bins. I copied the code from R I think.

On Sat 2 May 2020 at 22:16, Anastasia <notifications@github.com> wrote:

[2020-05-03 00:58] mxposed commented on #172
A dirty but workable solution, also not very expensive:
— add menu items, exclusive to each other: “compare against the rest“ (default on), “compare against custom selection“
— if user selects “compare against custom selection”, then current selection is remembered for the 2nd violin plot generation
— to reset, you select “compare against the rest” and previous selection is discarded

What do you

[2020-05-04 19:02] modash opened #174 "cbBuild on sample data throws TypeError: argument of type 'NoneType' is not iterable"
Hi,
I am trying to setup cellbrowser lcoally on my machine. When I run it on sample data 'mini' with the following command,
`../../src/cbBuild -p 8888 -i cellbrowser.conf -o ~/public_html/cells/`
it is throwing following error,

 I am getting the same error on conda based installation, git clone and pip as well. Not only in my local machine, same error in server as well. I have also tried with dif

[2020-05-04 19:19] maximilianh commented on #174
Sorry someone else just noticed the same problem. It requires a file
~/.cellbrowser.conf with a line outDirs={}

I should have fixed this but I was stuck with something else sorry!

On Mon 4 May 2020 at 21:02, modash <notifications@github.com> wrote:

[2020-05-04 20:02] modash commented on #174
Yes, I have used the inodb commit and it worked. Thanks!

[2020-05-05 15:45] #170 closed

[2020-05-07 19:07] mxposed commented on #172
I can try to implement it next week, if you think it's a good idea @maximilianh

[2020-05-07 20:19] maximilianh commented on #172
This is an awesome idea Nikolay! I wanted to write this right away. If you
don’t implement it soon, I will. No idea why it never occurred to me...

On Thu 7 May 2020 at 21:08, Nikolay Markov <notifications@github.com> wrote:

[2020-05-15 23:22] cotedivoir commented on #173
I don't know what's going on. I took pbmc3k dataset and run both standard Seurat workflow and then SCtransform workflow. For standard everything binned normal. For SCT the same issue. I can upload both examples somewhere so you could see?

[2020-05-19 14:17] maximilianh commented on #173
Yes, can you share the seurat object, either you upload it to a
webserver somewhere, or you send it to me, max@soe.ucsc.edu ?
thanks!

On Sat, May 16, 2020 at 1:22 AM Anastasia <notifications@github.com> wrote:

[2020-05-20 10:44] maximilianh commented on #173
Can you also tell me how you imported the dataset to the cell browser? Did
you use cbImportSeurat?

On Tue, May 19, 2020 at 4:16 PM Maximilian Haeussler <maximilianh@gmail.com>
wrote:

[2020-05-21 02:42] cotedivoir commented on #173
Hi! Thank you so much! I sent Seurat object to you. I use ExportToCellBrowser in R to prepare files.

[2020-05-21 06:09] maximilianh commented on #173
This may have to do with the way you export, I remember having changed
something for sctransform objects half a year ago... I’ll try if using
cbImportSeurat on your file fixes the problem.

We also started working today on a Seurat pull request for the next Seurat
release to update exportToCellbrowser.

On Thu 21 May 2020 at 04:43, Anastasia <notifications@github.com> wrote:

[2020-05-21 22:05] mxposed opened #176 "Marker gene box is not closable by Esc"
After the markers data is loaded via ajax, you build the table and then explicitly remove the focus from the current object (https://github.com/maximilianh/cellBrowser/blob/master/src/cbPyLib/cellbrowser/cbWeb/js/cellBrowser.js#L6192) preventing the dialog box to close on Esc.

Is it intended, why?

[2020-05-25 15:21] maximilianh commented on #176
Oh... this is because the current object was not the dialog but the dataset
list. I'll need to focus on the dialog. thanks!

On Fri, May 22, 2020 at 12:05 AM Nikolay Markov <notifications@github.com>
wrote:

[2020-05-26 08:11] maximilianh commented on #173
So I ran cbImportSeurat on your pbmc data file and got this result for ACTB. It looks reasonable to me...

![image](https://user-images.githubusercontent.com/310861/82876495-2a4f1700-9f39-11ea-94df-a36b0389f519.png)

[2020-05-26 08:14] maximilianh commented on #173
Here are the most common values of the ACTB expression vector, as you can see, there is no perfect way to bin them, as the distribution is so skewed to certain values.

$ zgrep ACTB exprMatrix.tsv.gz | tr '\t' '\n' | grep -v ACTB | sort | uniq -c | sort -rn | head

5119 0
 287 1
 168 8
 160 10
 146 13
 144 9
 140 7
 128 11
 124 5
 121 6
 119 14
 109 12
 107 15
 105 4
  82 18
  80 17
  79 16
  78 3

[2020-05-26 19:34] mxposed commented on #176
I can send you a pull request with this line removed if you want

[2020-05-28 11:55] pcm32 opened #177 "Concatenation of int with str throws error for gene symbols and ids"
Apparently I have run into a case where a gene symbol or id is being intepreted as a numpy int, so I guess we need to be more defensive on that concatenation line:

[code]

I have seen this in 0.7.9 as well.

Thanks!

[2020-05-28 15:24] maximilianh commented on #177
Thanks! Fixed on the develop branch. I knew about this, but didn't apply it
to the symbol case.

Note, this should not happen on real datasets. If you define genes to be
symbols, they can not be numbers. If they are numbers, then they are entrez
gene IDs. But I've changed it anyways, just to avoid the crash.

[2020-05-28 22:58] cotedivoir commented on #173
Sorry, it took time to get back to it. I think I understand what you mean and can see where the issue is.

Here I attach frequency table for the data slot for ACTB for the same pbmc3k dataset: one is for RNA assay, another is for SCT assay. I did not look into how exactly SCTransform function work. But apparently it unifies the values so there are fewer variants (with higher frequencies). And you

[2020-05-28 23:02] maximilianh commented on #173
I do consider the number of values. But if there are only very few values I
cannot do a better job. Imagine if you only have the values 0, 10 and 50
and 10 appears 30 times and 0 and 50 appear three times. There is no good
way to bin such a list. It’s similar here. Too many identical values throw
off any binning.

Or do you see a better way to bin here ?

On Fri 29 May 2020 at 00:58, Anastasia <no

[2020-05-29 17:00] cotedivoir commented on #173
I see. Using scale slot should be a workaround. I will think about binning too. Thank you for helping!

[2020-06-07 22:36] pcm32 commented on #166
I have sorted this out with a redirect on our Galaxy side.

[2020-06-07 22:39] pcm32 opened #179 "UMAP and tSNE not picked up on AnnData with multiple embeddings"
I have the current AnnData object:

[code]

When I try to do an import from Scanpy/AnnData CellBrowser gives me:
[code]

do you have in newer versions more flexible ways of picking up the tSNEs and UMAPs on that AnnData? If that is the case, could you do a new release, as I need one that includes a defensive fix for #177 . Thanks!

[2020-06-08 14:09] maximilianh commented on #179
Yes, you can either provide the names with the argument coordFields of
scanpyToCellbrowser yourself or let the new version do the job, it
autodetects fields and uses all keys of the obsm object. (you may remember
that this was a problem before in with older scanpy versions, due to the
breaking changes in scanpy, but we've found a way around that, I think we
talked about that in a previous discussi

[2020-06-09 15:14] pcm32 commented on #179
There is no release yet that covers #177. I will try first with your dev version with what I'm trying and see if it doesn't require any further changes and let you know.

[2020-06-09 15:18] maximilianh commented on #179
That will be extremely helpful, thanks!

On Tue, Jun 9, 2020 at 5:15 PM Pablo Moreno <notifications@github.com>
wrote:

[2020-06-11 16:16] pcm32 commented on #179
Ok, this seems to be working on the latest version. Could you please do a release that includes #177 and then I can use that? Thanks @maximilianh!

[2020-06-12 12:40] maximilianh commented on #179
OK, will try to release today or early next week.

On Thu, Jun 11, 2020 at 6:16 PM Pablo Moreno <notifications@github.com>
wrote:

[2020-06-13 10:46] pcm32 commented on #166
I think that the current solution I'm using:

[code]

is not working entirely well as it some minutes for the interface to be able to respond to layout changes. Maybe because I'm jumping directly there this might be skipping some preprocessing that the user needs to wait for? Any suggestions on how to improve this @maximilianh ?

[2020-06-13 11:32] pcm32 commented on #166
The UI only becomes responsive after all this has happened:

[code]

I realise that I get these messages: `Webserver does not support byte range requests` but I have set `proxy_force_ranges on;` in nginx with no effect. Anything else I should set on nginx? Thanks!

[2020-06-14 08:32] maximilianh commented on #166
Ohhh! Your web server does not support byte ranges ? That’s very bad. Can
you point me to an example URL of a dataset on this web server ?

Not sure what this proxy thing has to do with byte ranges ...

On Sat 13 Jun 2020 at 13:32, Pablo Moreno <notifications@github.com> wrote:

[2020-06-29 16:51] mxposed opened #183 "Exporting mtx format, strange gene values"
Hi,

I've exported matrix from Seurat as .mtx format for the first time, and the resulting gene values in cellbrowser look completely strange.
![Screen Shot 2020-06-29 at 11 48 49](https://user-images.githubusercontent.com/57878/86033556-ba7ff080-b9fe-11ea-8277-c708e96d56e9.png)
I've checked the .mtx file manually, the values there seem ok, so I guess it's either in the `.bin` file or with the jav

[2020-06-30 06:54] maximilianh commented on #183
Hi Nikolay, thanks for your bug report. Does this cell browser have a
public URL?

On Mon, Jun 29, 2020 at 6:51 PM Nikolay Markov <notifications@github.com>
wrote:

[2020-06-30 08:19] mxposed commented on #183
No, it does not, unfortunately, but I think I can reproduce it in public space soon

[2020-07-14 08:15] #183 closed

[2020-08-05 14:19] kriemo opened #185 "define dataRoot via command-line argument or environmental variable?"
Hi,
  Thanks for developing such a useful tool. I routinely generate cellbrowsers for multiple unrelated projects and have been testing out using dataset hierarchies to organize each independent project. I can make this work currently by changing the global `dataRoot` in `~/.cellbrowser.conf` as needed to point to the project-specific collection of cellbrowsers before running `cbBuild`. However, I

[2020-08-05 15:47] maximilianh commented on #185
This is a great idea! Do you want to try to add it yourself (there is a
function findDataRoot) or shall I?

On Wed 5 Aug 2020 at 16:19, Kent Riemondy <notifications@github.com> wrote:

[2020-08-05 16:41] kriemo commented on #185
Sure, I can try to add this feature myself. Is there a testing workflow that you typically use after making code changes?

[2020-08-12 13:00] maximilianh commented on #176
Hm, do you remember if did we end up doing this? If yes, we can close the ticket...

[2020-08-12 13:00] #177 closed

[2020-08-12 13:01] maximilianh commented on #179
This should be fixed now.

[2020-08-12 13:01] #179 closed

[2020-08-12 13:01] #185 closed

[2020-08-12 13:02] maximilianh commented on #174
I fixed this a long time ago. Thanks for opening the ticket. I'm closing it now.

[2020-08-12 13:02] #174 closed

[2020-08-12 19:04] mxposed commented on #176
No, we haven't done this yet

[2020-08-20 12:52] LisaSikkema commented on #169
thanks for documenting this, it more or less worked for me as well! I didn't comment out the complete else clause, but changed doMito = True to doMito = False after the else clause, and commented out the rest.

[2020-08-31 13:51] LisaSikkema opened #187 "change labeling in layout"
Hi,

First of all thanks for building this tool, it's really awesome and helpful.

I was wondering if there's a way for changing the labels that are shown in the layout. It seems like by default, it only shows the labels from the category provided under --clusterField. Is it possible to show the labels for any annotation of choice? That would be really useful!

Best,
Lisa

[2020-08-31 15:52] matthewspeir commented on #187
Hello, Lisa.

Thank you for your question! You can change the labels shown in the layout by changing the "labelField" option in your cellbrowser.conf: https://github.com/maximilianh/cellBrowser/blob/48675f82f54652fd34abfb68427550aafa4428be/src/cbPyLib/cellbrowser/sampleConfig/cellbrowser.conf#L65.

[2020-08-31 18:03] maximilianh commented on #187
Hi Lisa, thanks for the nice words. how did you create your cell browser?
From the command line? From R?

[2020-09-01 07:24] LisaSikkema commented on #187
Hi!
Thanks for the quick reply.
I created it from the command line.
I'm guessing the change in the conf file would require me to relaunch cellbrowser every time I want to change the labeling? I was hoping for an option to do this using a button within cellbrowser, instead of having to relaunch.

[2020-09-01 22:09] matthewspeir commented on #187
Yes, there is no way to control the field used for labels from the cell browser UI at this time. The field has to be selected through the cellbrowser.conf before starting the cell browser.

This is a great feature suggestion though, and one we've heard from a few others. We're keen to implement it, but I don't have an estimate of when we will have a chance to do so.

[2020-09-07 15:03] ltosti opened #188 "URL not working?"
Hi there,

I added to the following lines to my ```desc.conf``` file:

biorxiv="link"
ega="XXX"

and I cannot see any link appearing in the description of the dataset (but title, abstract and methods are all working fine). Is there something I'm missing?

Thank you for your help!

[2020-09-09 07:50] maximilianh commented on #188
Sorry, I didn't see this!

there variables biorxiv and ega don't exist. Can you tell me where you
found them?

As described in the documentation, the names are "ega_study" and
"biorxiv_url".
https://cellbrowser.readthedocs.io/dataDesc.html

let us know if you have any other questions.

On Mon, Sep 7, 2020 at 5:03 PM ltosti <notifications@github.com> wrote:

[2020-09-09 09:47] ltosti commented on #188
Thank you for the clarification!

My fault, I was following another file I downloaded long time ago, like the one here:
 https://github.com/maximilianh/cellBrowser/blob/93171bfb855396d249a10cb0d0bd89a0dbaf7461/src/cbPyLib/cellbrowser/sampleConfig/desc.conf

I tried now and the ```biorxiv_url``` works indeed, but I still don't get the ```ega_study```, as the link does not appear.

[2020-09-09 13:46] ltosti commented on #188
Ok, I looked at the cellBrowser.js file, I think the problem is a missing ```htmlAddLink(htmls, desc, "ega_study");``` here
https://github.com/maximilianh/cellBrowser/blob/93171bfb855396d249a10cb0d0bd89a0dbaf7461/src/cbPyLib/cellbrowser/cbWeb/js/cellBrowser.js#L690

Also, I installed the software using ```pip install``` but it doesn't seem to install the latest version?

[2020-09-09 15:05] matthewspeir commented on #188
I believe the latest version is 0.7.11. Is that not what was installed for you by pip?

[2020-09-09 15:23] ltosti commented on #188
Yes @matthewspeir @maximilianh ,

I just checked and I do have the version 0.7.11 installed.

The line I suggested above is missing - I added it and the EGA link appears. The ```urls``` and ```custom``` are not working, not sure where the issue is for those.

[2020-09-09 15:32] matthewspeir commented on #188
Thanks. I believe @maximilianh fixed the issue with the EGA links in the develop branch of Gtihub, we just haven't had a chance to merge them into master and package up a new pip release.

I'm not aware of the issues with `urls` (I don't even see this in the example desc.conf) and the `custom` settings. Can you provide a bit more detail? e.g. example lines you are trying to use.

[2020-09-09 15:41] ltosti commented on #188
At the bottom [here](https://cellbrowser.readthedocs.io/dataDesc.html) it says:

So, in my ```desc.conf``` file I added:

[code]

But these are not added in the Abstract of my dataset. Hope this is a bit clearer :)

[2020-09-10 12:32] maximilianh commented on #188
Yes, I think we have the problem now that the documentation is too far
ahead of the released version, because we update the docs immediately
instead of just showing the most current version. Also, we haven't released
in a long time.

the "urls" feature is only in the current pre-release. "custom"
unfortunately went away with the supplFiles change, many thanks for
pointing this out! I've added "cus

[2020-09-17 14:52] kriemo opened #189 "feature request: split view based on annotation"
Commonly, collaborators using the cellbrowser request a "split" view to allow them to see cells from different samples/conditions/treatments in separate panes. They want to be able to split the dataset based on a cell annotation so that the distribution of features or other annotations can be rapidly visualized across samples/conditions/treatments. This is distinct from the split screen feature be

[2020-09-22 20:43] Gibbsdavidl opened #190 "no js files after cbBuild on develop"
Hi there,

This may be known and fine, I'm using the develop branch (so I can get that nice set-background feature),
and cbBuild is not including the js files, css, img, and etc.  The resulting html build dir looks like:

-rwxrwxrwx 1 dave dave  771 Sep 22 13:13 dataset.json
drwxrwxrwx 1 dave dave  512 Sep 22 12:57 dataset-001
drwxrwxrwx 1 dave dave  512 Sep 22 13:12 dataset-002
-rwxrwxrwx 1 dave

[2020-09-23 15:25] maximilianh commented on #190
Oh. That's not good... this is partially intentional, but the very first
cbBuild should create these files, not just leave them empty...

On Tue, Sep 22, 2020 at 10:43 PM David L Gibbs <notifications@github.com>
wrote:

[2020-09-28 20:11] Gibbsdavidl opened #191 "select cells based on intersection of annotations"
Is this possible?  It's essentially making cell selections based on annotation set operations.

I want to select a set of cells within cluster A as background  (param == 'X', cluster=='A'),
and compare to the remaining cells within cluster A (param != 'X' and cluster =='A' or even param == 'Y').

Thanks!

[2020-09-28 21:13] maximilianh commented on #191
Did you try Edit - Find Cells ?

On Mon, Sep 28, 2020 at 10:11 PM David L Gibbs <notifications@github.com>
wrote:

[2020-09-28 22:57] Gibbsdavidl commented on #191
Oh wow!  Thanks.  That's just what I was looking for.

-dave

[2020-09-28 22:59] Gibbsdavidl commented on #191
One suggestion is to have a 'is not equal to' selection for enumerated types.

[2020-09-29 12:36] maximilianh commented on #191
I'm glad you asked. It's very hard to get an idea for me which features
people find useful...

On Tue, Sep 29, 2020 at 12:59 AM David L Gibbs <notifications@github.com>
wrote:

[2020-09-29 18:23] Gibbsdavidl commented on #191
Actually, this would be super useful feature for me... so I'm going to reopen the issue.  :-)  Hope that's OK.

I have a cluster where cells are annotated with 4 categories (A,B,C,D) and if you want to select category A,
it's pretty easy  (select cells: cluster == 1, category == A). But if you want to compare A vs others, it's
more difficult  (cluster == 1, category != A).

Thanks!
-dave

[2020-09-29 20:27] maximilianh commented on #191
Isn’t there a “is not equal” operator ? Oh... did I forget to add that ???

On Tue 29 Sep 2020 at 20:23, David L Gibbs <notifications@github.com> wrote:

[2020-10-05 07:21] tiramisutes opened #192 "Blank page when use example data"
Hi,
I install the cellBrowser use conda (`conda install -c bioconda ucsc-cell-browser`) and use sample data to test whether it works.

Here is the code that I'm running:
[code]
The stdout is normal but returns a blank page when open URL http://127.0.0.1:8888/.
[code]
![05145505](https://user-images.githubusercontent.com/10768210/95048663-d04a3380-071a-11eb-8d42-d7ed2c650685.png)
Thanks a lot for y

[2020-10-06 13:11] pcm32 opened #193 "Given a very large AnnData object, what would be the minimal AnnData fields that are required by CellBrowser?"
Hi there,

I was given a very large AnnData (~20 GBs) which includes of course tSNE and UMAP coords. I was wondering what parts I could remove safely from it to just feed it to CellBrowser through its AnnData converter (cbBuild or so, being passed an AnnData file). The idea is to make that AnnData more portable but still useful for viewing with CellBrowser.

Thanks!

[2020-10-12 22:34] matthewspeir commented on #189
Hi, @kriemo.

Interesting feature request. Do you have any images or sketches of what this would look like?

As an alternative, would a "hide all but selected" option be sufficient?

[2020-10-12 23:26] kriemo commented on #189
Hi @matthewspeir ,
  Thanks for the response. Very timely as another collaborator just requested the same feature.

Here's a sketch of the idea:
![split-feature-request-cb](https://user-images.githubusercontent.com/13697621/95798595-add29000-0caf-11eb-9a3b-d4b834a5898e.png)

A `split-view` feature is available in the loupe cell browser from 10x genomics, so I hope you don't mind me using their pla

[2020-10-13 12:06] maximilianh commented on #189
Hmmm...how about a button "only show these cells" on the right-side legend
of the values? That would scale to more values...

[2020-10-13 15:18] kriemo commented on #189
I think that would work. Would it be possible to "only show these cells" independently for each split screen?

[2020-10-27 00:27] hoholee commented on #192
Hi,

Is there a fix for this issue? I ran into a similar issue when using cellBrowser(v0.7.14) installed from conda. The log is quite similar to the OP's except for this one line:

``ERROR:root:/cndd2/junhao/ucsc_cell_browser_test/cellBrowser/sampleData/mini/markers.tsv: the following cluster names are in the meta file but not in the marker file: {''}. Please fix one of the files, clicks onto a la

[2020-10-27 16:30] matthewspeir commented on #192
@tiramisutes sorry for not following up sooner.

Hmm, there's nothing in either of those output messages that would indicate why you're just seeing a blank screen.

(e.g. the error that @hoholee noted only means that there's a name (blank or '' in this case) in the metadata file that isn't in the markers.tsv. That wouldn't cause the cell browser to just not load.)

In Chrome or Firefox, if you ope

[2020-10-27 17:01] hoholee commented on #192
Hi @matthewspeir,

Yes the console show lots of error:
![image](https://user-images.githubusercontent.com/10512707/97335212-d1aedd80-183a-11eb-8a68-4f28083df1fe.png)

It seems that the `index.html` file generated by `cbBuild` imports many javascript files in the `ext` and `js` folders, which do not exist in the folder built by `cbBuild`:
![image](https://user-images.githubusercontent.com/10512707/

[2020-10-27 17:56] matthewspeir commented on #192
@hoholee Can you try running `cbUpgrade --code -o <same cbBuild output dir>`? The output directory for `cbUpgrade` should be the same as the one you specified for `cbBuild`.

[2020-10-27 18:01] hoholee commented on #192
Oh great, it works after `cbUpgrade`! Thank you! I would recommend adding this instruction in the tutorial.

[2020-10-27 18:08] matthewspeir commented on #192
Great! `cbBuild` should put those files in place. You should not need to run `cbUpgrade`. I'll see if I can replicate this issue so, hopefully, we can track down why `cbBuild` doesn't seem to be doing that in some cases.

To that end, @hoholee can you share a bit more about the machine you're running the cell browser on? Is it a laptop or server? Mac, Linux, or Windows?

[2020-10-27 18:32] hoholee commented on #192
I'm using a Linux server, Ubuntu 16.04.7 LTS (GNU/Linux 4.4.0-190-generic x86_64).
The cellBrowser version is v0.7.14, installed using conda 4.8.1 via this command:
`conda install -c bioconda ucsc-cell-browser`

[2020-10-27 19:22] maximilianh commented on #192
Ohhhh... this is a bug I think!  I must have broken something and cbBuild
stopped putting the JS files in place automatically... Many thanks !!

On Tue 27 Oct 2020 at 19:32, Junhao Li <notifications@github.com> wrote:

[2020-10-28 02:14] tiramisutes commented on #192
Yes, it works after `cbUpgrade --code -o <same cbBuild output dir>`. Thanks.

[2020-10-29 08:35] maximilianh commented on #192
I cannot reproduce this yet, but I'm installing conda now to check what's
going wrong here. I know we had this problem two releases ago then I fixed
it, but the fix should be in 0.7.14. Thanks for contacting us in any case.

On Wed, Oct 28, 2020 at 3:14 AM hope <notifications@github.com> wrote:

[2020-10-29 10:10] maximilianh commented on #192
OK, I installed conda and then ran these commands and it's all working fine:

conda install -c bioconda/label/cf201901 ucsc-cell-browser
curl -ks https://cells.ucsc.edu/downloads/samples/mini.tgz | tar xvz
cd mini
cbBuild -o html/ -p 8888

This is as expected as the "blank page" bug was fixed a while ago.
So I can't reproduce this bug.

On Thu, Oct 29, 2020 at 9:35 AM Maximilian Haeussler <maximil

[2020-10-29 20:20] matthewspeir commented on #193
Sorry for just getting around to this, @pcm32.

Hmm, I'm not sure I fully understand. You want to remove parts of the AnnData to make it smaller but still compatible with the Cell Browser?

[2020-10-29 23:01] pcm32 commented on #193
Yes, exactly.

[2020-10-29 23:09] matthewspeir commented on #193
Interesting! I think for the row attributes (which are the genes?), the only attributes which I think are necessary are the gene symbol and maybe the accessions. For the columns, the cell IDs are obviously important, but other than that just the cluster/celltype annotation columns? You've already mentioned the embeddings.

That should be it for "essential" things: gene symbols/accessions, cell IDs

[2020-10-30 09:06] maximilianh commented on #193
Hi Pablo, can you explain a bit why you think your anndata object would be too large? I can't think of a reason why there would be a problem exporting it, did you run into problems? If you do get errors, we can address them, but we've exported 2M cell atlases without any problem so far.

It may be slow upon the first load. This is due to me preloading all the meta info which I really shouldn't do

[2020-10-30 09:06] maximilianh commented on #193
There used to be a problem in the Seurat exporter and matrices that are too big for R, but we've worked around this now using .mtx.gz files (like all other packages). I don't think Python ever had a problem with too large matrices.

[2020-10-30 12:16] luyang93 opened #195 "assert(len(newName)!=0) when there is only one cluster in dataset."
I have annotated the subcluster of the dataset. Fortunately, there is only one cell type in the subcluter.It means that there is only one cluster in RDS file.
When I run `cbBuild` command, it raise the error `assert(len(newName)!=0)` in https://github.com/maximilianh/cellBrowser/blob/3e4b91dbd12a2ba0da186928f9e928167a9ed43a/src/cbPyLib/cellbrowser/cellbrowser.py#L2454 Meanwhile, the meta.tsv file

[2020-10-30 12:46] luyang93 commented on #192
I also came to the same problem when I used conda to install cellbrowser.
ucsc-cell-browser         0.7.14                     py_0    bioconda
I manually download ucsc-cell-browser-0.7.14-py_0.tar.bz2 and extract site-packages/cellbrowser/cbWeb to pubhtml folder.

[2020-10-30 13:03] pcm32 commented on #193
It is mostly for the sake of portability and not using so much unnecessary space on Galaxy instances. Original AnnData I was given was 20 GB, I reduced it to 10 GB by removing the raw and to further 4 GB by saving it with compression. I just didn't want to be moving around and replicating a 20 GB file for visualisation purposes only.

[2020-10-30 13:51] maximilianh commented on #193
Ah, I didn't know you could save without compression, I thought it was the
default.

Yes, you can set "raw" to None if you don't want to show it,
cbImportScanpy checks for None.

On Fri, Oct 30, 2020 at 2:03 PM Pablo Moreno <notifications@github.com>
wrote:

[2020-10-30 13:53] maximilianh commented on #192
Hi luyang93, this is very interesting, can you tell me what you did? Did
you download the conda package or the pip package manually?

I don't understand why I can't reproduce a bug that two people report with
the same conda command line... hmm...

On Fri, Oct 30, 2020 at 1:46 PM luyang93 <notifications@github.com> wrote:

[2020-10-30 13:55] maximilianh commented on #195
Yes, this is related to the header of your meta.tsv file or the column name
in your Seurat object. I can improve this error message or add something to
make headers more unique.... Do you know what the headers of your meta.tsv
are? You can get them with "head -n1 meta.tsv" in your output directory.

On Fri, Oct 30, 2020 at 1:16 PM luyang93 <notifications@github.com> wrote:

[2020-10-30 13:59] luyang93 commented on #195
Cell         nCount_RNA       nFeature_RNA

[2020-10-30 14:01] luyang93 commented on #195
The normal one is like
Cell nCount_RNA nFeature_RNA Cluster

[2020-10-30 14:03] maximilianh commented on #195
There may be a newline issue somewhere... This function takes each word of
the first line (Cell, nCount_RNA and nFeature_RNA and Cluster) and removes
all special characters. You could also run cbBuild with -d and send me the
output, this looks like something simple to fix... we've never had this
problem with headers like this before. We had this problem before when we
had meta.tsv headers like "@@

[2020-10-30 14:15] luyang93 commented on #195
[code]

[2020-10-30 14:39] maximilianh commented on #195
Oh this is something entirely unrelated. I was completely wrong. Can you
tell me what the value of the tag "enumFields" in your cellbrowser.conf?

On Fri, Oct 30, 2020 at 3:15 PM luyang93 <notifications@github.com> wrote:

[2020-10-30 14:40] maximilianh commented on #195
I suspect that you have something like this in your cellbrowser.conf:

enumFields = ['']

On Fri, Oct 30, 2020 at 3:39 PM Maximilian Haeussler <maximilianh@gmail.com>
wrote:

[2020-10-30 14:43] luyang93 commented on #195
I forgot that.

In cellbrowser.conf, the line is `enumFields=[""]`.

在 2020/10/30 下午10:40, Maximilian Haeussler 写道:

[2020-10-30 14:45] luyang93 commented on #195
I forgot that.
In cellbrowser.conf, the line is  **enumFields=[""]**

[2020-10-30 14:51] luyang93 commented on #195
How should I do?

[2020-10-30 15:19] maximilianh commented on #195
Yes, this line is the problem. Comment it out and the problem will be
solved.

Did you add it yourself or did this line get created by my code?

On Fri, Oct 30, 2020 at 3:43 PM luyang93 <notifications@github.com> wrote:

[2020-10-30 15:27] luyang93 commented on #195
[code]

[2020-11-01 05:28] luyang93 commented on #192
[code]
then download sample data
https://github.com/maximilianh/cellBrowser/blob/master/sampleData/pbmc_small/anndata.h5ad
[code]
the public_html folder doesn't have statci files

[2020-11-01 19:25] slowkow commented on #162
Hey Max, I apologize for the very long delay in response. Sometimes I forget to reply. Also, I was trying to decide for a long time whether I should contribute to your repo or create my own.

In the end, I made my own at https://github.com/slowkow/cellguide

I copied some of your files and then hacked new features until I had something that meets some of my needs. Of course, please feel free to co

[2020-11-02 10:28] maximilianh commented on #192
Hi @luyang93, ohh, many thanks for insisting! First, this brought another
bug to my attention, I didn't realize that you used an anndata file here.
Fixed now in the develop branch. @Matthew Speir <mspeir@ucsc.edu>  I guess
this is important enough to push out a release now?

On Sun, Nov 1, 2020 at 6:28 AM luyang93 <notifications@github.com> wrote:

[2020-11-02 18:44] matthewspeir commented on #192
@maximilianh Yeah, seems important. Lets try to get the release out there today or tomorrow then.

[2020-11-04 15:48] ltosti commented on #188
Just an update: I have now installed the 0.7.14 version and 'custom' and 'biorxiv' links are still not working.

[2020-11-04 16:24] maximilianh commented on #188
Thanks for checking. The tag is actually called "biorxiv_url" did you try
that?

As for custom, you would specify it like this:

custom = { "my website" : "https://my.website.com" }

Is this not working either?

On Wed, Nov 4, 2020 at 4:48 PM ltosti <notifications@github.com> wrote:

[2020-11-04 16:53] ltosti commented on #188
Oh, sorry for my same mistake again: ```biorxiv_url``` works indeed, but ```custom``` does not.

[2020-11-05 01:17] mxposed opened #196 "Metadata in the panel on the left does not update on cell hover"
Here's a pull request with a fix: https://github.com/maximilianh/cellBrowser/pull/194

[2020-11-05 08:49] ltosti commented on #188
Also, just tried to add `supplFiles=[{'file':'seurat3.rds', 'label':'Seurat3 RDS'}]` to my `desc.conf` but no link appears in the download sections.

[2020-11-05 13:55] maximilianh commented on #166
After several months of waiting, I've finally made this change: if there is a single dataset and we're currently at the root dataset in the tree, then load this first and only dataset directly and don't open a dialog box. Sorry for the long wait!

Also, there is a new URL argument, &openDialog=1 that you can use to force opening the info dialog, though it's not directly related to your question.

[2020-11-05 13:55] #166 closed

[2020-11-05 14:41] maximilianh commented on #188
I just tried custom = {"test":"test"} in desc.conf with the mini.tgz
example file we have and test: test showed up on the dataset info page, the
first tab. Did you check this first tab? Initially I was looking at the
wrong page.

If this browser installation is publicly accessible, I can also have a look
directly.

On Thu, Nov 5, 2020 at 9:49 AM ltosti <notifications@github.com> wrote:

[2020-11-05 15:36] maximilianh commented on #195
Hi, sorry for the late reply, yes, it looks like you specified "Cluster"
somewhere in your cellbrowser.conf but your meta data file meta.tsv does
not have a field with this name... can you send us the whole
cellbrowser.conf ? Or comment out the lines where "Cluster" is specified?

On Fri, Oct 30, 2020 at 4:27 PM luyang93 <notifications@github.com> wrote:

[2020-11-16 20:22] mxposed commented on #196
Thanks!

[2020-11-16 20:22] #196 closed

[2020-11-16 23:00] Parul-Kudtarkar opened #197 "cannot convert float infinity to integer"
I get following error cannot convert float infinity to integer, even after uncommenting - https://github.com/maximilianh/cellBrowser/blob/5207737572a7af58909825bc7e345ab70e474aa3/src/cbPyLib/cellbrowser/cellbrowser.py#L1000

[2020-11-17 03:20] luyang93 commented on #192
It's solved.

[2020-11-17 03:38] luyang93 commented on #195
RDS struct
[code]

cellbrowser.conf
[code]

If you need, I can send the RDS file to you.

[2020-11-17 09:55] maximilianh commented on #195
Yes, I cannot see the meta data in your seurat object. Are you sure that
the object includes a cluster-like meta data field?
If you want, you can send a link to the RDS file to cells@ucsc.edu (private
email) and we can have a look at it.

On Tue, Nov 17, 2020 at 4:38 AM luyang93 <notifications@github.com> wrote:

[2020-11-17 09:55] maximilianh commented on #192
Thanks for the feedback. I'll close the ticket then.

On Tue, Nov 17, 2020 at 4:20 AM luyang93 <notifications@github.com> wrote:

[2020-11-17 09:55] #192 closed

[2020-11-17 10:04] maximilianh commented on #197
Oh. That's interesting. Could I see the complete error message backtrace,
all the lines, so I can see how this happened exactly?

Ideally, it's always easiest if you can share the expression matrix. Are
there any unusual non-number values in your matrix, like "inf" or "NaN" ?

On Tue, Nov 17, 2020 at 12:01 AM Parul Kudtarkar <notifications@github.com>
wrote:

[2020-12-08 19:27] Gibbsdavidl commented on #191
Oh, uh, yes. There is not an  "is not equal"  (!=) operator.

-dave

[2020-12-08 19:32] Gibbsdavidl opened #198 "expression coloring slow ... hosting advice?"
Hi there,

In a larger data set of about 91K cells, it takes about a minute to color the cells after selecting a gene (say 'IL6').
I'm using google firebase to host it and I'm using the dev version.

I notice that in https://cells.ucsc.edu/, with the Autism data set, the coloring is way way faster.

Any advice?  How is that done?

Thanks!
-dave

[2020-12-08 19:37] maximilianh commented on #198
Hmm. Can you share the dataset URL or the dataset input files ? (Not the
html output files). I can debug it and see what the problem is. I suspect
it’s fire base related and it’s unable to do byte range requests.

On Tue 8 Dec 2020 at 20:32, David L Gibbs <notifications@github.com> wrote:

[2020-12-08 20:28] Gibbsdavidl commented on #198
Yep. It's a firebase problem.  I just tried hosting it right out of a google bucket.. and it's a million times faster.

Here's the instructions for future people:
https://cloud.google.com/storage/docs/hosting-static-website

[2020-12-08 20:28] #198 closed

[2020-12-08 21:42] maximilianh commented on #198
We can host the dataset for you at UCSC, for free. If you’re interested in
that. Thanks for the URL!

On Tue 8 Dec 2020 at 21:29, David L Gibbs <notifications@github.com> wrote:

[2020-12-09 09:50] maximilianh commented on #191
Oops, sorry. I've added it now, you can find it on the Github develop branch and also on cells-test.gi.ucsc.edu. Is this for your own cell browser installation? Or for a dataset on cells.ucsc.edu ?

Also, I'd love to understand better the use case: is this for comparing two non-clusters?

@matthewspeir since we've covered it here, not sure, but maybe we need an internal redmine ticket for it, too?

[2020-12-20 01:59] mxposed opened #199 "UTF8 in metadata fields doesn't work"
Hey!

I've recently had UTF-8 character in metadata (en-dash instead of minus sign), and cellbrowser didn't handle it well.
When this part of metadata was loaded on cell hover, there were alerts, and also in the legend on the right the values were not displayed correctly (see screenshot).

![Screen Shot 2020-12-19 at 19 53 21](https://user-images.githubusercontent.com/57878/102703453-890d1280-4234

[2020-12-20 02:49] mxposed commented on #173
I ran into this and I think I have a solution (in the linked pull request).

Here's how the ACTB expression looks in my (SCTransformed) dataset:
![Screen Shot 2020-12-19 at 20 24 18](https://user-images.githubusercontent.com/57878/102703962-79dd9300-423b-11eb-9561-caed7fba9cda.png)

SCTransform produces same expression values for low-expressing cells, but different expression values in the upper r

[2020-12-20 22:11] mxposed commented on #172
Should we close this? If anyone has a more elegant solution, I'm happy to work on it.

I am also thinking about violin plot by clusters somewhere…

[2020-12-21 13:59] maximilianh commented on #172
I think we can close this for now. I don't have a more elegant solution. Thanks for adding it!

[2020-12-21 13:59] #172 closed

[2020-12-21 14:02] #199 closed

[2020-12-21 14:08] maximilianh commented on #199
Ah nice, we've never had utf8 yet. Yes, my way of getting the size was wrong. Thanks!

[2021-01-04 17:47] matthewspeir commented on #199
Nice, we can update the label field for this dataset whenever this makes it out to the main site: https://cells-test.gi.ucsc.edu/?ds=covid19atlas+c19a-park20&meta=Anno_level_fig1. I have to switch it to the BroadCellType field when I wrangled the dataset since we didn't support utf8 yet.

[2021-03-09 21:30] frankligy opened #207 "Could not find a dataset when opening index.html file"
Hi,

Thanks a lot for developing this awesome tool. Here's my inquiry:

I use scanpy and I have a h5ad file, I use `cbImportScanpy` and `cbBuild` to build necessary files for the webpages. I can successfully display the cell browser on my local machine, meaning `localhost:8888` if I specified `-p 8888`. But I was wondering if I want to share the output folder with other people, how should they ope

[2021-03-10 13:47] maximilianh commented on #207
Hi Frank,

thanks for your feedback. You cannot open index.html file in your file
browser (e.g. OSX Finder or Microsoft Explorer). Our tool is a website with
a lot of Javascript in it and the internet browsers don't allow opening
such a file anymore, they prevent javascript from opening all the other
files it needs. It needs to be served via a webserver. Did you see the
documentation about this to

[2021-03-11 16:21] frankligy commented on #207
Hi Max,

Thanks very much for your prompt reply. Yes, I actually saw the documentation pages and it was very well-documented. I think the reason why I am asking is that compared to another interactive tool cellxgene, the advantages of UCSC cell browser as far as I can tell is that it is a static webpage, which means it is easy to migrate and send out to my collaborators who may don't have any know

[2021-03-11 17:34] maximilianh commented on #207
I think it is possible but it requires that you make a change to your
chrome or Firefox configuration. For security reasons, data requests from a
webpage opened as a file are blocked. This is why there is no single cell
software anymore that works this way.

Don’t you prefer to simply copy the files onto some webserver? I imagine
you have one via your institute ?

On Thu 11 Mar 2021 at 17:22, Guan

[2021-03-12 19:04] frankligy commented on #207
Thank you Max, yes I will consult the IT team in the institute!

Best,
Frank

[2021-03-18 17:02] pcm32 opened #208 "Scanpy import fails due to fields starting with underscore"
Trying on an AnnData object that we generate we got the following error:

[code]

This is with latest release version 0.7.15

Also, it would be nice if cbImportScanpy would fail with an error code when it fails. In this the tool fails silently (no error code) and Galaxy hence thinks that the import was succesful.

[2021-03-18 17:03] pcm32 commented on #208
This should be easy to handle in the method that you have to sanitise the headers I presume.

[2021-03-27 01:17] cotedivoir opened #210 "cbImportSeurat does not work with Seurat4.0.0 objects?"
Hi! Tried to run cbImportSeurat and got this error:

Object was created with Seurat version 4.0.0
Error in ExportToCellbrowser :
  can only process Seurat2 or Seurat3 objects, version of rds is 4.0.0

[2021-04-05 18:43] hejing3283 opened #211 "documentation for scATAC-seq data"
Hi I am wondering if there is any documentation for 10x scATAC data?

[2021-04-05 18:47] maximilianh commented on #211
sorry, do you mean the ATAC-seq mode in the cell browser? If yes, there is
extremely little right now, because there is still a bug in it, but i'm
happy to document it now and you can use it and can tell me if you find
other bugs.

Is that's what you mean?

On Mon, Apr 5, 2021 at 8:43 PM Jing He ***@***.***> wrote:

[2021-04-05 20:38] hejing3283 commented on #211
Hi Maximilian,

Yes. I do meant ATAC-seq mode. It would be great if you could provide some
examples on how to process it.
Thanks a lot!

Best,
Jing

On Mon, Apr 5, 2021 at 2:47 PM Maximilian Haeussler <
***@***.***> wrote:

--
Cheers!
Jing

[2021-04-08 16:37] matthewspeir commented on #210
Hi, @cotedivoir.

Thanks for the report! Sorry for the delay. We'll look into this soon. Would you be willing to share your Seurat 4 RDS with us so that we have a testing dataset when we sit down to investigate Seurat 4 support? If so, you can share a link to it with us at cells@ucsc.edu.

[2021-04-09 15:52] maximilianh commented on #210
Hi Matt, I've allowed Seurat4 objects now in the develop branch. If you
have Seurat4 installed, you can use pbmc_small or the pbmc3k object that is
part of the tutorial:
https://satijalab.org/seurat/archive/v3.0/interaction_vignette.html. It's
possible that it just works... fingers crossed. I hope the Seurat authors
have not broken compatibility, again...

On Thu, Apr 8, 2021 at 6:38 PM Matt Speir

[2021-04-09 16:37] matthewspeir commented on #210
Your ExportToCellbrowser function doesn't seem to like that an older version of Seurat was used to create the RDS file?
[code]

[2021-04-09 16:43] maximilianh commented on #210
Yes you need to save the object with Seurat 4, not 3.

On Fri 9 Apr 2021 at 18:37, Matt Speir ***@***.***> wrote:

[2021-04-09 17:15] maximilianh commented on #210
Hmm, there also is this function:
https://www.rdocumentation.org/packages/Seurat/versions/3.1.4/topics/UpdateSeuratObject

I don't understand what it does, does it update from seurat 2 to seurat 3?
Would it also work from Seurat 3 to Seurat 4? If it does, you could try it?
Hey @cotedivoir, do you understand how to convert seurat objects between
the different versions?

[2021-04-09 17:32] matthewspeir commented on #210
I saved it in my env with Seurat4 installed, though I had to load it through their SeuratData package, so maybe that's why.

[2021-04-09 17:39] matthewspeir commented on #210
The UpdateSeuratObject worked is updating it to v4.

Seems like cbImportSeurat is happy? It exported the matrix/meta/coords and it's calculating the markers now.

[2021-04-09 19:28] maximilianh commented on #210
Great! This was a lot easier than expected.

On Fri 9 Apr 2021 at 19:39, Matt Speir ***@***.***> wrote:

[2021-04-09 21:36] cotedivoir commented on #210
Hi! I commented out :
 if (substr(object@version, 1, 1)!='4' && substr(object@version, 1, 1)!='3') {
          stop("can only process Seurat2 or Seurat3 objects, version
of rds is ", object@version)
  }
in runSeurat which cbImportSeurat generates, and it worked for my Seurat 4 objects

[2021-04-11 14:13] maximilianh commented on #210
Great, yes, that's more or less what I did in the develop version, to
accept version 4.

Even better to hear to this worked for you. Matt, I guess we can close
the ticket then?

On Fri, Apr 9, 2021 at 11:36 PM Anastasia ***@***.***> wrote:

[2021-04-12 23:02] matthewspeir commented on #210
Sounds good! Let's close it. :)

[2021-04-12 23:02] #210 closed

[2021-04-16 10:07] pcm32 commented on #208
Sorted by #209

[2021-04-16 10:07] #208 closed

[2021-04-16 10:08] pcm32 opened #213 "Another silent error (failure with no error code)"
I found that this error:

[code]

doesn't produce an exit with an error code (>0). This makes Galaxy and any wf environment dizzy.

[2021-04-16 10:50] pcm32 opened #214 "Longer/adaptable length drop down needed for layouts"
Visualising one of our Single Cell Expression Atlas AnnData's works very nicely with the multiple tSNEs and UMAPs that we are embedding currently, but the layout drop down could be wider on need if the names are long:

![image](https://user-images.githubusercontent.com/368478/115014228-f14dc700-9ea9-11eb-8986-c4a68ec9fad9.png)

Thanks!

[2021-04-16 10:51] pcm32 commented on #214
Please try with http://ftp.ebi.ac.uk/pub/databases/microarray/data/atlas/sc_experiments/E-MTAB-6077/E-MTAB-6077.project.h5ad (that is a lightweight one, every experiment has an AnnData).

[2021-04-16 10:54] pcm32 opened #215 "Support multiple clustering resolutions from AnnData"
Currently our Single Cell Expression Atlas AnnData files (such as http://ftp.ebi.ac.uk/pub/databases/microarray/data/atlas/sc_experiments/E-MTAB-6077/E-MTAB-6077.project.h5ad) will include multiple clustering resolutions and optionally a cell_type clustering field in the obs. Currently when run it I need to select the appropiate marker gene field in the uns and the matching resolution. It would be

[2021-04-16 11:06] pcm32 opened #216 "AnnData conversion no longer grabs var['gene_symbols'] to get gene symbols"
This has stopped working between 0.5.x and 1.0.0. I had added this feature in #118 but it seems to have been reverted. Can we please re-instate the functionality? It is relevant for our Single Cell Expression Atlas AnnData files.

[2021-04-16 11:13] pcm32 commented on #216
I started seeing this when adding Scanpy and Pandas to the bioconda deps. Probably since the route is different when pandas is installed.

[2021-04-16 11:48] maximilianh commented on #213
Thanks!  fixed now in the develop branch.

On Fri, Apr 16, 2021 at 12:08 PM Pablo Moreno ***@***.***>
wrote:

[2021-04-16 12:05] maximilianh commented on #216
Are you using the raw values from the matrix or the processed values? Is it
possible ad.raw.vars doesn't have the gene symbols?

On Fri, Apr 16, 2021 at 1:14 PM Pablo Moreno ***@***.***>
wrote:

[2021-04-16 12:15] pcm32 commented on #216
I have checked, and the AnnData does have var['gene_symbols'].

[2021-04-16 12:16] pcm32 commented on #216
how do I tell it to use the raw values? I always assumed it was using the processed values (cbScanpy...)

[2021-04-16 13:14] maximilianh commented on #214
Making user interfaces work for any length of input strings is very
tricky. @Matthew
Speir ***@***.***> May have ideas on the optimal length here, I could
add a few characters, but in general, I don't want to make this dropdown
very long. It has served us well so far.

On Fri, Apr 16, 2021 at 12:51 PM Pablo Moreno ***@***.***>
wrote:

[2021-04-19 12:46] maximilianh commented on #216
This is the code and it seems to get gene_symbols:

        # when reading 10X files, read_h5 puts the geneIds into a separate field
        # and uses only the symbol. We prefer ENSGxxxx|<symbol> as the gene ID string
        if "gene_ids" in var:
            genes = geneSeriesToStrings(var["gene_ids"], indexFirst=False)
        elif "gene_symbols" in var:
            genes = geneSeriesToStrings(

[2021-04-19 12:48] maximilianh commented on #216
As for the other question: you're right, it gets the raw data by default. I didn't mean that it defaults to raw.

Right now, the function uses the raw values only if you force it to:

anndataMatrixToTsv(ad, matFname, usePandas=False, useRaw=False)

because this option is not something most people want, it's not exposed on the Unix command line yet. I was asking in case you're calling it from pytho

[2021-04-19 12:50] maximilianh commented on #215
Hm, this is something that has been suggested before a few times. Matt is also for it. I'd love to add a menu option for this, like View > select cluster field. Would that work? I can't promise to work on it too soon though.

I would probably be easy to add. the only problem is to modify cbBuild to pre-compute the centroids for the cluster labels. If you don't need those, it should be very little

[2021-04-19 12:50] maximilianh commented on #214
I'm tempted to close this. You could easily shorten your labels, right?

[2021-04-19 12:51] #213 closed

[2021-04-19 12:51] maximilianh commented on #207
Hi @frankligy , did it work? Can we close this ticket?

[2021-04-19 12:53] maximilianh commented on #211
Sorry, this required a new realease. Now that the release is out:

scATAC data needs a gene model so you can search for genes and get the closest peaks. you can use the tool cbGenes for this to download the gene model. I have ones for human and mouse now for your to download.

Do you know the gene models that you want to use? you can run "cbGenes ls". This shows a list of possible gene models. Is

[2021-04-19 12:54] maximilianh commented on #197
Hi @Parul-Kudtarkar  any news from this? Shall we close the ticket? Did you find Nan values in your matrix?

[2021-04-19 12:55] maximilianh commented on #195
I think we solved this back last year. Feel free to re-open the ticket if there if you encounter something like this before.

[2021-04-19 12:55] #195 closed

[2021-04-19 12:58] pcm32 commented on #214
I'm not sure, we are a bit bound to include the words UMAP and neighbours, which make most of the length... couldn't the drop down be made variable width based on the number of characters? So maybe it grows only when you have above n characters?

[2021-04-19 13:23] maximilianh commented on #214
Oh, you're right! There is actually code that was supposed to make it
larger. Didn't work, not even for our datasets. I tried to change it now,
wide enough? https://cells-test.gi.ucsc.edu/?ds=cortex-dev

On Mon, Apr 19, 2021 at 2:58 PM Pablo Moreno ***@***.***>
wrote:

[2021-04-19 13:27] pcm32 commented on #214
I would presume that that should do.

[2021-04-19 14:03] maximilianh commented on #214
great.

[2021-04-19 14:03] #214 closed

[2021-04-19 14:37] matthewspeir commented on #214
Hmm, does hovering over the layout name in the list display the full name? Would that be an acceptable compromise? While I haven't run into this with layout names, I have run into it with the collection dropdown, e.g. https://cells.ucsc.edu/?ds=covid19atlas+c19a-miller20. You can see that some of the dataset labels are cut-off.

[2021-04-19 14:40] maximilianh commented on #214
The "chosen" dropdown box that I use unfortunately doesn't have this
feature out of the box. I could add it, but just extending the box was the
easiest solution. Clearly, we've run into this before, which why I tried to
make it larger, but I did it the wrong way so the large size never made it
out.

On Mon, Apr 19, 2021 at 4:37 PM Matt Speir ***@***.***> wrote:

[2021-04-20 14:16] #207 closed

[2021-04-20 14:16] maximilianh commented on #207
I'm curious what it looks like. Do you want to send me the URL to it? Or is
it internal?

On Tue, Apr 20, 2021 at 3:05 AM Guangyuan(Frank) Li <
***@***.***> wrote:

[2021-04-20 15:44] maximilianh commented on #211
That's what we do: you can search for either genes or peaks:
https://cortex-atac.cells.ucsc.edu/

If you enter a gene, it lists all the peaks nearby. If you enter a range,
it shows the peaks in the range.

OK, let's start with human then. Which gene models do you use? Gencode? If
yes, which version?

We just noticed that the current pip install does not have cbGenes, sorry,
you can get it with pip

[2021-04-30 20:14] matthewspeir commented on #136
I finally got around to setting up a Cell Browser interface overview here: https://cellbrowser.readthedocs.io/en/master/interface.html.

Not exactly what you were looking for as it doesn't cover any specific use cases, but I think that would be a good thing to do next.

@inodb What would do you think would be some good use cases to cover in such a set of tutorials or a gallery? I don't want to jus

[2021-04-30 20:16] matthewspeir commented on #153
Hi, @ljpearlman! Just going through some old issues. I apologize for not getting back to you. Is this still a problem?

[2021-04-30 20:17] matthewspeir commented on #161
Hi, @drbecavin!

Is this still a problem? If not, maybe we can close this issue.

Thanks!

[2021-04-30 20:21] matthewspeir commented on #163
Hi, @detrout!

Is this still an issue in the latest version of the cell browser (v1.0)? From what I can tell, I can sort categorical metadata fields by "Name".

If it's working for you too, let's close this issue. If it's not working, maybe you can share some exact steps to replicate the error.

Thanks!

[2021-04-30 20:25] inodb commented on #136
@matthewspeir This is great! Thanks for the hard work!

I think that pretty much addresses what I was looking for, so can close the issue imo. I'm honestly not too familiar with these data sets so it's harder to come up with stuff on the spot. One option would be to try and reproduce some figures from the associated papers of the datasets here: https://cells.ucsc.edu/

[2021-05-03 16:56] Parul-Kudtarkar commented on #197
Hi @maximilianh,
Yes, we resolved the issue. You may close the ticket. tyvm

[2021-05-03 18:15] matthewspeir commented on #197
Great! Feel free to open another ticket if you run into other issues with the cell browser.

[2021-05-03 18:15] #197 closed

[2021-05-06 17:36] karthigayini commented on #158
Yes, with the link you provided, it works now. Thanks.

[2021-05-06 17:36] #158 closed

[2021-05-06 23:47] matthewspeir commented on #211
Hi, @hejing3283.

I've added some documentation now for how to set up an ATAC-seq browser like the one Max linked in his last comment: https://cellbrowser.readthedocs.io/en/master/howto.html#how-to-visualize-single-cell-atac-seq-data-in-the-cell-browser. Let me know if there is anything that is unclear in the steps.

Thanks!

[2021-05-09 20:40] lzx325 opened #218 "`Edit|Export Selected` not working"
I selected some cells in the demo `cortex development` dataset and tried `edit|export selected` but nothing happens after then. Is there supposed to be a pop-up dialog to save the selected cells' UMI?

[2021-05-10 10:39] maximilianh commented on #218
This was fixed in the development version last week but we haven't fixed
the public site yet. are you looking to use this on your own cell browser
or do you need it on cells.ucsc.edu ?

If only on the public site, you can use cells-test.gi.ucsc.edu for today to
have it working there, we'll try to fix the public site ASAP.

many thanks for your email!

On Sun, May 9, 2021 at 10:41 PM lzx325 ***@***

[2021-05-10 13:56] maximilianh commented on #218
OK great, let us know how the setup goes. I imagine you are aware of
cellbrowser.readthedocs.org with the setup instructions. It should be
smooth, but if you find places that need improvement, let us know.

On Mon, May 10, 2021 at 3:44 PM lzx325 ***@***.***> wrote:

[2021-05-18 07:58] #218 closed

[2021-05-18 08:32] maximilianh commented on #218
Hi Izx325, thanks for closing the ticket. I imagine this means that
the installation worked?

On Tue, May 18, 2021 at 9:59 AM lzx325 ***@***.***> wrote:

[2021-05-20 14:28] lzx325 commented on #218
Yes, it works. Thank you for the help!

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Maximilian ***@***.***>
Sent: Tuesday, May 18, 2021 11:32
To: ***@***.***>
Cc: ***@***.***>; State ***@***.***>
Subject: Re: [maximilianh/cellBrowser] `Edit|Export Selected` not working (#218)

Hi Izx325, thanks for closing the ticket. I imagine this means that
the installat

[2021-05-20 17:48] matthewspeir commented on #191
I believe this has made it into a release. Closing for now.

[2021-05-20 17:48] #191 closed

[2021-05-26 01:33] bugacov opened #219 "getDatasetNameFromUrl() in cellBrowser.js converts most datasetName to lowercase"
The logic in this function will converts pretty much all datasets to lowercase so if one creates a dataset w/ uppercase name it throws an error saying that it cannot find the dataset when passing a URL with a dataset name (last argument) in uppercase

[2021-05-26 08:56] maximilianh commented on #219
Yes, and this is intentional, because at UCSC we only allow lowercase
dataset names. I agree that I should document this and possibly allow a
different handling.

The reason for all-lowercase is that we serve the datasets using an Apache
rewrite rule, which allos URLs like cortex-dev.cells.ucsc.edu and DNS does
not support case, it may come from a time when there were still 7bit
codepages around.

[2021-05-26 17:00] bugacov commented on #219
Hi Maximilian,
Thanks for your quick reply!!
Your option 2) :

2) deactivate the lower casing on non-UCSC systems

Is what we suggest implementing.
The part of the URL after the ?ds= is case sensitive and works well for when I tested modifying your code in my installation.

We’d really appreciate if you can implement that change.
Thanks again for your help!!
Best,
Alejandro.

From: Maximilian Haeu

[2021-05-27 08:37] maximilianh commented on #219
Hi,
I've deactivated lower casing, in cellbrowser.js line 7083 now for non-UCSC
servers. I cannot test this myself, because all my webservers run at UCSC.
If you want, you can checkout the "develop" branch and then run
src/cbUpgrade --code -o <htmlOutputDirectory> and try if this solves your
problem.

thanks
Maxy

On Wed, May 26, 2021 at 7:01 PM bugacov ***@***.***> wrote:

[2021-06-23 14:37] maximilianh commented on #176
Thanks!

[2021-06-23 14:37] #176 closed

[2021-07-21 21:59] mxposed opened #222 "Cluster labels are not shown when browser has more height than width"
If I stretch my browser window vertically, some cluster labels disappear.

![Screen Shot 2021-07-21 at 16 57 22](https://user-images.githubusercontent.com/57878/126565640-996ccb7f-a9c9-4653-8717-441821d816f9.png)

[2021-08-18 14:36] maximilianh commented on #222
Oh what a typo. Many thanks for fixing this!

[2021-08-18 20:31] #222 closed

[2021-08-19 05:25] ljpearlman commented on #219
Hi,

I think `!pageAtUcsc()` should just be `pageAtUcsc()` here -- as written, this will lower-case non-UCSC URLs (and not lower-case UCSC URLs).

[code]

Thanks,

- Laura

[2021-08-19 08:37] maximilianh commented on #219
Yes, this makes sense. I've changed this now. you can get the change from
Github. It's not too unlikely that we'll have a release next week, too.
Thanks!

On Thu, Aug 19, 2021 at 7:25 AM ljpearlman ***@***.***> wrote:

[2021-08-19 22:49] ljpearlman commented on #219
That worked, thanks!

[2021-08-24 08:13] biocaitao opened #225 "quickGenesfile config"
We had a long name. We set cellbrowser.conf by adding
quickGenesFile = "quickGenes.csv"
metaOpt = {"Cluster_field" : {"fontSize": "5px"}}
But it seems still too long.  The default config displays 4 genes per row, can it be changed to 3 genes per row?
Thanks

[2021-08-24 10:49] maximilianh commented on #225
Hi, do you have a link for this dataset so I can look at it and we can
think about how to solve this?

Can I ask what the gene name is? Usually they’re pretty short , at least
human symbols are, is this another organism ?

Otherwise, I can add an option to a) reduce the number of columns as you
say or b) to increase the size of the left side bar. May there are other
solutions, like cutting of the

[2021-09-01 12:50] lijxug commented on #154
Waiting for a secured access to the website, too.
I followed what Gibbsdavidl recommended. The web page didn't redirect, wierd.

[2021-09-01 13:05] maximilianh commented on #154
@lijxug can you explain what you are trying to do? In principle, if you want a protected URL to send to your users, you can simply create a URL that is very hard to guess. That should be sufficient. The solution by @Gibbsdavidl is not a real password, it just redirects, so if you send around URLs, you don't need the URL.

Also, you can simply activate normal htaccess passwords in your webserver: h

[2021-09-01 13:30] lijxug commented on #154
@maximilianh Yes, that's a partial solution. I've made some changes to that index.html and eventually made it work.

Basically, I have constructed a webpage using your browser. Then I want to send the link directed to the browser only for my coworkers. So I need a password to protect this data set.

Here is what I did:
clone the https://github.com/ulfaslak/Password-protection-for-static-pages repo

[2021-09-01 14:01] maximilianh commented on #154
Hey, is this for a submitted manuscript? Should we host the dataset for
you, once it's accepted? Or are you building a general single cell website?

On Wed, Sep 1, 2021 at 3:30 PM StupidArcher ***@***.***>
wrote:

[2021-09-01 16:04] #219 closed

[2021-09-09 08:54] lijxug opened #226 "How to re-host the website directly without building it once more?"
Hi, I've made some changes to the html folder manually, and want to re-host the website.
I've noticed that if I use cbBuild to start the website, the files would be renewed. Just wondering if I can dirrectly start the manually-adjusted-server bypassing cbBuild.

[2021-09-09 09:04] lijxug commented on #154
No, that's just a temporal web browser for my coworkers right now.
This project is not ready to publish yet, but we appreciate your offer and will definitely consider it in the future!

[2021-09-09 09:13] maximilianh commented on #154
I think you're overdoing this. If it's internal-only, you don't need a
password at all. I'd just put it onto your webserver, into a subdirectory
with the name 38Q1Tb9RhT (see random.org). As long as your webserver does
not allow browsing all directories (they usually don't), this will be just
fine.

On Thu, Sep 9, 2021 at 11:05 AM StupidArcher ***@***.***>
wrote:

[2021-09-09 09:25] maximilianh commented on #226
Great question! You can use "cbUpgrade (directory) -p (port)" for this. Let
me document this better now...

On Thu, Sep 9, 2021 at 10:54 AM StupidArcher ***@***.***>
wrote:

[2021-09-09 09:31] maximilianh commented on #226
Actually, wait, there is no need to re-host the website. the webserver is
independent from the building procedure. If you modify the html files, just
reload the page in your internet browser, possibly holding "shift" to force
a cache update.

If you need to force the cache update, probably I'm doing something wrong,
because I thought I had addressed most caching problems now. But I
think @mspeir h

[2021-09-09 09:42] lijxug commented on #226
@maximilianh Actually, your first suggestion might be what I want, because I already stopped the server and now I want it back on.  I do need a command to re-host the website without rebuilding it.
And.. cbUpgrade -p (port) (directory) doesn't seem to run. always got a manual output.

[2021-09-09 10:13] maximilianh commented on #226
Hi, can you send me the error message? I don't understand what "always got
a manual output" means, sorry.

On Thu, Sep 9, 2021 at 11:43 AM StupidArcher ***@***.***>
wrote:

[2021-09-12 07:19] lijxug commented on #226
@maximilianh My bad. What I tried to say is "cbUpgrade -p (port) (directory) doesn't seem to run. It always prints out the help message."

[2021-09-12 18:30] dvera opened #227 "semicolons in cell names not properly handled"
I had semicolons in my cell names and the vast majority of cells are removed because they did not "appear" in the metadata

`ubuntu@ip-172-31-24-90:~/creighton_wt$ sudo cbBuild -o /tmp/cb -p 80
INFO:root:dataRoot is not set in ~/.cellbrowser.conf or via $CBDATAROOT. Dataset hierarchies are not supported.
INFO:root:Determining if /tmp/cb/creighton_wt/exprMatrix.tsv.gz needs to be created
INFO:root:

[2021-09-13 08:20] maximilianh commented on #227
Oh! Semicolons in IDs, that's unusual. R doesn't allow this as far as I
know so there is code that "cleans" the IDs. Do you think you can share the
matrix and meta.tsv with me ***@***.*** ? That would be easiest,
otherwise I can dig into the code and look for the replace where the
"cleaning" of the meta IDs happens...

On Sun, Sep 12, 2021 at 8:30 PM Daniel Vera ***@***.***>
wrote:

[2021-09-13 08:35] maximilianh commented on #226
Yes, because, sorry I didn't specify the correct command, you also need to
specify the directory of course, the command cannot guess your html
directory:

cbUpgrade -p 8888 -o MYHTMLDIR

On Sun, Sep 12, 2021 at 9:19 AM StupidArcher ***@***.***>
wrote:

[2021-09-16 14:55] dvera opened #228 "public instance - allen mouse whole cortex - mismatch between cell expression profiles and their metadata"
All Datasets > Allen Brain Map: Cell Types Database > 10xWhole Cortex & Hippocampus (2020)

This dataset does not have the correct pairing of the expression matrix and metadata in the public browser (cells.ucsc.edu). I had the same issues when loading this data in seurat. I have not tracked the exact cause of the mismatch, but it could be related to a failure in CreateSeuratObject's pairing of the

[2021-09-16 15:02] maximilianh commented on #228
Oh. That's bad. Thanks for reporting it! Do you know how we can fix this?

On Thu, Sep 16, 2021 at 4:55 PM Daniel Vera ***@***.***>
wrote:

[2021-09-16 15:09] dvera commented on #228
I sorted both matrices by cell names in R and it loads fine after that. The set of cells in both tables is identical, just not in the same order.

[2021-09-16 15:20] matthewspeir commented on #228
@maximilianh We didn't use Seurat to make this Cell Browser. Doesn't the Cell Browser sort the matrix/meta before it writes them to the html output directory?

[2021-09-16 15:33] dvera commented on #228
If the data is processed with Seurat prior to writing matrices for cb, then seurat will assign the wrong cell names names to object@metadata

[2021-09-16 16:13] maximilianh commented on #228
@mspeir yes our cbBuild script always uses the cellIDs and ignores the
order. If we didn't use Seurat objects, then I don't understand how this
has happened... hmm...

On Thu, Sep 16, 2021 at 5:33 PM Daniel Vera ***@***.***>
wrote:

[2021-09-16 16:13] matthewspeir commented on #228
I guess I'm not understanding the issue.

You're having issues loading the data from our site into Seurat?
Or you're having issues loading the data from the Allen website into Seurat?
Or there are cells on our site that have metadata that doesn't match what's on the Allen site because of this sorting issue?

[2021-09-16 17:36] dvera commented on #228
The cell metadata in the public browser does not properly match the cells in the projections. A simple way to visualize this is to examine the expression of Pvalb. Pvalb is enriched in the Pvalb cluster on the allen brain map cell explorer, but not in the public ucsc cb instance. The only reason I mention seurat is because I observed the same mismatch between the expression matrix and metadata whe

[2021-09-16 17:39] dvera commented on #228
![image](https://user-images.githubusercontent.com/5902410/133659157-78d4793d-a376-40be-b88a-d9cdfac0adcb.png)

![image](https://user-images.githubusercontent.com/5902410/133659296-d9e2b076-3535-49ca-bdbe-d8b050e9fe09.png)

[2021-09-17 05:48] lijxug commented on #226
Great, thanks!

[2021-09-17 05:48] #226 closed

[2021-09-17 09:08] maximilianh commented on #228
@mspeir is it possible that you can cbScanpy on the matrix/meta files...? I
wonder if scanpy suffers from the same problem...

On Thu, Sep 16, 2021 at 7:39 PM Daniel Vera ***@***.***>
wrote:

[2021-09-20 15:21] matthewspeir commented on #228
Ahh, okay. Now I see what you're talking about.

Hmm, looks like I loaded their matrix and a trimmed version of their metadata into anndata, saved it as an h5ad, and then used cbScanpy to export the transposed matrix and calculate markers. Yeah, anndata will have the same issue if the input files aren't sorted in the same way. I had forgotten I had done something funky to transpose the matrix and

[2021-09-20 15:28] maximilianh commented on #228
Hey @dvera, do you happen to have the expression matrix of this project in a Seurat object?

[2021-09-21 13:09] dvera commented on #228
I do. I'll PM a URL

[2021-10-01 00:09] matthewspeir commented on #228
Hey @dvera.

Thanks for sharing those files. Super helpful. I've updated our public instance with your fixed matrix: https://cells.ucsc.edu/?ds=allen-celltypes+mouse-cortex+mouse-cortex-2020&gene=Pvalb.

Feel free to re-open if you think this still isn't resolved.

[2021-10-01 00:09] #228 closed

[2021-10-01 09:24] maximilianh commented on #228
Great, many thanks @dvera and @matthewspeir !

[2021-10-23 08:43] itskhurrams opened #229 "Running CBBuild on Autism Data"
Hi,
I have successfully build and run "Mini" and its working fine.

Now i download Autism Data place it in a folder. but when i try to run cbbuild on "Autism" it gives me following error. Please help. because i have to build mutiple datasets.

PS D:\CellBrowser\cellBrowser\src\Autism> python ../cbbuild  --init
INFO:root:Wrote D:\CellBrowser\cellBrowser\src\Autism\cellbrowser.conf
INFO:root:Wrote D

[2021-10-28 12:36] #229 closed, assigned to nobody

[2021-11-19 21:57] redst4r opened #230 "Exporting the gene expression matrix as sparse matrix (cbImportScanpy, cbBuild)?"
Hi,

I've been visualizing quite large datasets  (>100k cells) with cellbrowser (from scanpy .h5ad files) and building cellbrowser for these large data takes a significant amount of time. In particular writing the full gene expression matrix to disk in plain tsv (see `anndataMatrixToTsv()`)  takes forever.

Going through the code that's called by `cbImportScanpy` and `cbBuild` I actually don't see

[2021-11-20 17:43] maximilianh commented on #230
Hi, thanks for opening this issue and the feedback. I must admit that I've
never thought about that. We do use .mtx.gz for Seurat but not Scanpy.
You're right it would make a lot of sense to use .mtx.gz here, too. Do you
want to have a try ? I won't have the time before January I'm afraid...

On Fri, Nov 19, 2021 at 10:57 PM redst4r ***@***.***> wrote:

[2021-11-20 23:36] redst4r commented on #230
yeah, I'll give it a shot. I also noticed that the seurat export writes sparse matrix anyways, so the `cbBuild` part of cellbrowser must already be working with matrix-market (mtx) files. That makes it alot easier.
I'll try to modify the `cbImportScanpy` part!

[2021-11-22 09:33] maximilianh commented on #230
OK, let me know if you run into any problem. I'll ping this ticket again
next week and check back with you. Otherwise I can also have a go at this,
as you say, it shouldn't be hard.

On Sun, Nov 21, 2021 at 12:36 AM redst4r ***@***.***> wrote:

[2021-11-24 11:26] maximilianh commented on #230
Many thanks for the pull request, I think we can close this ticket and continue the conversation in the ticket.

[2021-11-24 11:26] #230 closed

[2021-11-24 13:20] maximilianh commented on #216
Hey @pcm32, in PR https://github.com/maximilianh/cellBrowser/pull/231 by @redst4r we're discussing moving everywhere to the .mtx.gz format by default. I'm tending to stick with .tsv.gz for now, but give an option to .mtx.gz is used if you specify "-f mtx". Any thoughts?

[2021-11-24 13:56] maximilianh commented on #216
In your pipelines do you have assumptions about the name of the output file?

[2021-12-09 17:33] #33 closed

[2021-12-09 17:35] matthewspeir commented on #119
@maximilianh Think we can close this issue?

[2021-12-09 17:37] #159 closed

[2021-12-09 17:37] matthewspeir commented on #159
I've closed this issue, but please feel free to open if you feel like there's still more that needs to be done.

[2021-12-09 17:38] matthewspeir commented on #161
I'm going to close this issue, but please feel free to re-open if you feel something is still unaddressed here.

[2021-12-09 17:38] #161 closed

[2021-12-09 17:46] matthewspeir commented on #163
Closing this ticket. Feel free to reopen if something still needs to be fixed here!

[2021-12-09 17:46] #163 closed

[2021-12-09 18:00] matthewspeir commented on #188
Hi @ltosti! It's been over since the last update in this ticket. Going to close this, but feel free to re-open if there's still something unaddressed here.

[2021-12-09 18:00] #188 closed

[2021-12-09 21:05] matthewspeir commented on #190
Hi @Gibbsdavidl. It's been over a year since the last update in this ticket. If this is still happening, feel free to reopen the ticket.

[2021-12-09 21:05] #190 closed

[2021-12-10 10:34] maximilianh commented on #119
This was definitely solved, two years ago, yes.

[2021-12-10 10:34] #119 closed

[2021-12-10 16:13] matthewspeir commented on #129
I think this has long been solved.

[2021-12-10 16:13] #129 closed

[2021-12-10 16:40] #131 closed

[2021-12-16 03:57] ckfromCN opened #232 "[scATAC-seq]ERROR:root:Cannot download hg38.gencode-34.json"
Hi, I am trying to set up my own sc-ATAC-seq browser from `https://cells.ucsc.edu/?ds=cortex-atac+peaks` and I have a few questions.
1. When I build an html webpage, the program was interrupted and reminded me that the json file could not be downloaded

then I check your website `https://cells.ucsc.edu/downloads/cellbrowserData/genes/` there are not such file.
How can I solve this problem?

2. You

[2021-12-16 13:45] maximilianh commented on #232
Thank you for this detailed error report. This is an oversight on our side.
I'll fix this ASAP and push the .json files to the public site for
gencode-34.

In the meantime you can run this command to fix the problem:

$ cbGenes build hg38.gencode-34

Please let me know if it worked, we can close the ticket then.

On Thu, Dec 16, 2021 at 4:57 AM ckfromCN ***@***.***> wrote:

[2021-12-16 13:46] maximilianh commented on #232
Oops, sorry I meant this command:

$ cbGenes build hg38 gencode-34

On Thu, Dec 16, 2021 at 2:45 PM Maximilian Haeussler ***@***.***>
wrote:

[2021-12-16 13:51] maximilianh commented on #232
An alternative to the "cbGenes build" command is to run this command,
which will activate downloads from our test download server, which has
the .json files now:

echo 'useTest = True' >> ~/.cellbrowser.conf

best, Max

On Thu, Dec 16, 2021 at 2:45 PM Maximilian Haeussler ***@***.***> wrote:

[2021-12-22 03:13] ckfromCN commented on #232
Thanks for your reply, it has bothered me for a long time

I have tried this command, and it passed.

However, when I set it in tomcat, the webpage cannot display umap and reports
`Internal error: If the coordinates have not been set, it cannot be drawn`
This is my latest **cellbrowser.conf**
[code]

**BTW,how can I build a mm9.json like hg38.gencode-34.json ?**

Thanks again.

[2021-12-23 20:59] malcook opened #233 "ImportError: cannot import name 'cbImportSeurat2Cli' occurs calling cbImportSeurat from command-line on conda install"
[code]

is occurring whether calling  cbImportSeurat with or without command-line options

ucsc-cell-browser was installed on CentOS7 into
[code]
using
[code]
resulting in
[code]

in case it helps:

[code]

FWIW: I was successful running `cbBuild` and browse the results using the example `mini` data set.

[2021-12-24 02:40] ckfromCN commented on #233
I had the same problem before, I uninstalled cellbrowser in conda and then "pip install cellbrowser". Then the problem was solved

[2022-01-02 03:24] malcook opened #234 "`view > unsplit` screen with RHS panel selected loses balanced layout"
`View > unsplit screen` appears to remove the unselected panel.  Makes sense.

However, when the RHS panel is first selected, `View > unsplit screen` causes the LHS panel to be removed (correctly), but the RHS panel is not resized and the legend panel goes missing, results look like this:

![image](https://user-images.githubusercontent.com/484282/147865198-e6c67594-f2e3-4a06-9b07-175afbe20b4a.png)

[2022-01-02 03:35] malcook commented on #233
Thanks, @ckfromCN , I'm hoping to find a resolution whilst maintaining the conda install, though I may undo/redo as you suggest as a workaround.

[2022-01-03 10:19] maximilianh commented on #233
We don't manage the bioconda install, but probably we should. Is there a
reason Malcom why you prefer conda over pip?

On Sun, Jan 2, 2022 at 4:35 AM Malcolm Cook ***@***.***>
wrote:

[2022-01-03 15:00] malcook commented on #233
I am flexing my conda muscles over pip as it appears to me to be the more generic of the two (e.g. not just addressing python).

I could I suppose use pip within a conda env.

FWIW: If I had my druthers, I would rather than conda or pip be managing scientific computing software installations with guix, but it is not sufficiently broadly used (yet?) and requires buy-in from my IT group which I don'

[2022-01-03 15:52] maximilianh commented on #233
I guess we could update the conda recipe through a PR. I have a note in the
README that the conda recipe is usually out of date, as it's managed by the
EBI and the EBI doesn't track all our releases. Let me know if this is a
problem, I can look into it. Probably we should trigger a conda update
whenever we release through pip (they should be a way to achieve this
automatically)

On Mon, Jan 3, 202

[2022-01-03 16:23] matthewspeir commented on #233
I think the conda version should be the same as pip. One of the last times I asked @pcm32 he said conda should auto-update to reflect the latest in pip.

conda installs v1.1.1 of the cell browser, which is the same as pip version (minus the pre-release versions), so it's not clear why this error pops up only for the conda version.

[2022-01-03 16:24] maximilianh commented on #232
Hi, sorry for the long delay, christmas got in the way.

I don't know what you mean with "Tomcat", are you sure that cellbrowsers can be served from your Tomcat server? For me, that's a Java server and may not have byte range requests. Were you able to serve the mini demo from your Tomcat?

[2022-01-03 16:25] maximilianh commented on #233
Oops, so then ignore what I said Malcolm! Sounds like Matt is much more on
top of the conda questions than I am.

On Mon, Jan 3, 2022 at 5:23 PM Matt Speir ***@***.***> wrote:

[2022-01-03 19:06] malcook commented on #233
@matthewspeir if there is any improved diagnostic (or screenshare?) I can provide to help you help me further sleuth this issue, I'm at glad to oblige...

If I decide to try reinstalling (using pip or otherwise) I will report result here.

For now my successful workaround for creating custom cbs is  a hybrid of R interface and CLI.

[2022-01-03 19:42] matthewspeir commented on #233
I can replicate the error with the conda version. It's just not clear why the conda version would be experiencing this error when the pip version seems to be fine.

Looking at the _version.py files from the zip files for both [conda](https://anaconda.org/bioconda/ucsc-cell-browser/1.1.1/download/noarch/ucsc-cell-browser-1.1.1-pyhdfd78af_0.tar.bz2) and [pip](https://files.pythonhosted.org/packages/

[2022-01-04 02:52] ckfromCN commented on #232
Yes, I put the cbBuild exported html directory in tomcat's webapp directory and run it, the web page shows the same result as `cbBuild -o html -p 8888`, I think the reason for the web page error `Internal error: If the coordinates have not been set, it cannot be drawn`should not be related to tomcat

[2022-01-04 15:04] maximilianh commented on #233
The executable scripts are created by pip and conda. Weirdly, conda doesn't
use the pip definitions, but has its own. Since I changed one of the
function names, this broke the conda recipe.
I've created a PR now on bioconda and hope that they'll add it soon which
should fix this issue.
Thanks Malcolm for reporting this!
you can watch progress on the PR here:
https://github.com/bioconda/bioconda-re

[2022-01-04 15:25] pcm32 commented on #233
I'm sorry, I had a long holiday break. I have added some minor changes to Max's PR on bioconda, hopefully that should clear CI lint/tests and enable a merge.

[2022-01-04 16:21] pcm32 commented on #233
Could someone try to see if conda installing using the artifact generated by the bioconda CI the issue gets resolved? The artifacts are here, you will need to unzip the linux download and point conda to the tar.gz within images: https://dev.azure.com/bioconda/bioconda-recipes/_build/results?buildId=9290&view=artifacts&pathAsName=false&type=publishedArtifacts (this comes from https://github.com/bio

[2022-01-04 16:48] maximilianh commented on #233
Sorry what are artifacts? "point conda to the tar.gz within images" ? Or
was this comment for someone else than me?

On Tue, Jan 4, 2022 at 5:21 PM Pablo Moreno ***@***.***>
wrote:

[2022-01-05 13:42] maximilianh commented on #232
Can you share the public URL of this directory?

If not: I'm pretty sure that we have had this error message come up before.
I could well be related to your Tomcat...

It could also be due to something related to your cellbrowser.conf file.
Can you share this file here, at least the lines where the "coords" cell
coordinates are defined?

On Tue, Jan 4, 2022 at 3:53 AM ckfromCN ***@***.***> wrote:

[2022-01-06 07:32] ckfromCN commented on #232
Here are some documents you may need, you can also view this issue by visiting `http://101.34.228.19:8097/sc-atac`
[scATAC_conf.zip](https://github.com/maximilianh/cellBrowser/files/7819134/scATAC_conf.zip)

[2022-01-14 06:49] ckfromCN commented on #232
Here are some documents you may need, you can also view this issue by visiting http://101.34.228.19:8097/sc-atac
scATAC_conf.zip

[2022-01-15 05:30] shaln opened #235 "Lasso tool or option to rotate UMAP"
Hello,

I was wondering if there is a lasso tool available instead of the rectangular cell selection tool? Or perhaps an option to rotate the UMAP so the cells of interest could be more precisely selected?

[2022-01-15 15:37] maximilianh commented on #235
Hi, Oh yeah, we definitely need a lasso tool, I completely agree. Are you a
javascript (or another language) programmer by chance?

On Fri, Jan 14, 2022 at 9:30 PM shaln ***@***.***> wrote:

[2022-01-17 02:40] shaln commented on #235
Sorry, I'm afraid not! I'm biologist turned bioinformatician (only familiar with R) in dire need for a tool like the cellBrowser :)

[2022-03-01 16:41] redst4r opened #236 "Changing dotsize (radius) of cells in an already built cellbrowser"
Hi all,

I'm wondering if there's a quick way to change the dotsize ("radius" in cellbrowser.conf) of cells in an already existing cellbrowser (built into a html site via `cbBuild`).

I noticed the dots are way too small in a cellbrowser I built recently (with ALOT of cells), and I'd rather not rebuild the thing until I get a appropriate size (it takes quite a while to build).

Thanks!

[2022-03-01 17:17] maximilianh commented on #236
Hi @redst4r, rebuilding should be fast. If you build into the same
directory, it will only re-create the meta information, which is quick.

Otherwise: to change the radius directly in the html directory, just edit
dataset.json, there is a 'radius=xx' setting in it.

Also: I really really need to add a little input box where one can change
the radius interactively, right?

On Tue, Mar 1, 2022 at 5:

[2022-03-02 11:35] redst4r commented on #236
Hi,

thanks, I'll try editing the dataset.json (unfortunately, I got rid of the intermediate files created by the scanpy-export, so I cant quickly rebuild the html).
An input box with custom dotsize would of course be nice, but is there a way to remember a users choice across sessions (via cookies or something)? Otherwise they'll have to adjust that setting each time.

[2022-03-02 12:23] redst4r commented on #236
Just had a look at the `dataset.json` file in the html directory.
Here's how it looks like, I don't see a "radius" setting, not sure exactly where to add it:
[code]
Am I missing something here? I noticed there's another `dataset.json` in the subdirectory where the actual data resides (e.g. `UMAP.coords.tsv.gz` ...). That `dataset.json` is much more complicated, but I don't see a `radius` setting t

[2022-03-02 12:47] maximilianh commented on #236
This is only the root dataset.json. You'll need to find dataset.json of
every dataset, it's in a subdirectory, the dataset  that you want to
change, and where you want to change the radius and change it there

And if no radius is specified yet in the file, you can add a new line like

 "radius" : 4,

after the line with "name".

On Wed, Mar 2, 2022 at 1:24 PM redst4r ***@***.***> wrote:

[2022-03-02 14:05] redst4r commented on #236
great, editing the `dataset.json` of the actual dataset worked nicely as a quick fix!!
In the future, I'll make sure radius is already set when building the cellbrowser-website!

[2022-03-10 17:47] matthewspeir commented on #233
I think everything seems to be fixed here? I installed the cell browser via conda and was able to run cbImportSeurat w/o arguments to see the usage message.

[2022-03-20 04:58] yesonse opened #237 "group related datasets into a hierarchy ending with errors of copying exprMatrix.tsv.gz to itself"
Dear there,

I run a local host with about 20 datasets.
Now I like to group them into collections as suggested https://cellbrowser.readthedocs.io/en/master/collections.html.
After I run "cbBuild -r", the cell browser showed the collections well, but could not find each dataset in each collection.
I found there was no cellbrowser.conf in the subdirectory of collection, and made one for each. I trie

[2022-03-21 17:02] matthewspeir commented on #237
Hi, Robin.

Can your provide the full error message you are receiving when trying to run cbBuild for these datasets?

[2022-03-21 17:46] yesonse commented on #237
Thanks matthew.

Here is it.

root@bioinformatics:/home/CellBrowser/OPC/otx169to176integrated# cbBuild -i cellbrowser.conf -o /home/CellBrowser
INFO:root:Determining if /home/CellBrowser/OPC/otx169to176integrated/exprMatrix.tsv.gz needs to be created
INFO:root:input matrix has input file size that is different from previously processed matrix. Expression matrix must be reindexed. Old file(s): {'fn

[2022-03-23 17:02] yesonse commented on #237
Hi Matthew,

I installed it by pip two years ago and upgrade it recently.
I have an ubuntu and host an ucsc cellbrowser well for about 20 datasets (20 directories) without hierarchy at /home/UCSCcellbrowser/.
Now I have to organize those datasets with hierarchy.
So I configured my cellbrowser with  a dataroot "/home/CellBrowser/", made several directories there as collections, made "cellbrowser.co

[2022-03-23 18:10] yesonse commented on #237
I did not have a .cellbrowser.conf before.
Just made one with line of "dataRoot=/home/CellBrowser/".

[2022-03-23 18:22] matthewspeir commented on #237
Could you try setting up a .cellbrowser.conf (note the '.' at the beginning of the file name) in your home directory with the dataRoot line to see if that helps?

[2022-03-23 18:24] maximilianh commented on #237
Yes without the config file it will not work. I believe that we must know
the root directory otherwise we don’t know how deep we are in the tree…

On Wed 23 Mar 2022 at 19:23, Matt Speir ***@***.***> wrote:

[2022-03-23 21:10] yesonse commented on #237
I had ".cellbrowser.conf" with dataRoot line. For redundancy, I also set  CBDATAROOT=/home/CellBrowser/.

my error came from here

2515            shutil.copyfile(inFname, outFname)

when I move the default outputs of cbSeurat to a subdirector of dataRoot and run cbBuild there:
outDir == inDir,  inFname == outFname  and errors happened.

So I renamed file 'exprMatrix.tsv.gz' to 'oldMatrix.tsv.gz'

[2022-03-24 10:54] maximilianh commented on #237
I don't fully understand what your setup is, but for us, it never happens
that outDir == inDir. We have a htdocs directory for the webserver and a
data root directory, totally different directory trees:

My conf has these lines in it:

htmlDir = "/usr/local/apache/htdocs-cells"
dataRoot = "/hive/data/inside/cells/datasets/"
outDirs = {"alpha" : "/usr/local/apache/htdocs-cells", "beta" :
"/usr/loca

[2022-03-24 19:44] yesonse commented on #237
I managed an internal bioinformatic server and used it to host the cell browser for my colleagues of 30-40 people. Several colleagues might add some datasets sometime independently. I did not make a specific htmlDir or dataRoot.
I just simply made one directory and have httpd visit that directory.

So my case could be special and I thought I could set outDir as the dataRoot. I have not realized th

[2022-03-29 23:33] bugacov opened #238 "Error in in CreateSeuratObject when running cbSeurat on an expression matrix"
Hi,
I'm trying to run cbSeurat on an expression matrix and keep getting this error on in CreateSeuratObject(..).
I downloaded your example from adultPancreas matrix and tried running it and get the same error than when running my matrix.

adultPancreas% ls -l
total 22396
-rw-r--r--. 1 root root 22707068 Feb 27  2019 exprMatrix.tsv.gz
-rw-r--r--. 1 root root   522326 Apr  2  2020 meta.tsv
adultPanc

[2022-03-30 11:54] maximilianh commented on #238
Yes, Seurat4 is not supported yet by this script. At UCSC, we're still on
Seurat 3. I'm working today on adding it, give me a few hours...

On Wed, Mar 30, 2022 at 1:33 AM bugacov ***@***.***> wrote:

[2022-03-31 18:30] bugacov commented on #238
Hi,
Thanks for your reply. Lmk if you were able to make those changes and how should I update my code to get the fix.
Also, I'm not sure that familiar with R but don't know how to get the code to use Seurat 3. I've tried going into R and deleting the Seurat package and then adding Seurat version 3.2.2 but then when the cbSeurat code runs it always uses Seurat version 4. So not sure how to force yo

[2022-04-06 03:23] bugacov commented on #238
I tested it from the clone I made and seems to be working fine!! I'd really appreciate if you can do a pip prerelease!!!
Thanks!

[2022-04-06 13:49] #238 closed

[2022-04-06 13:58] maximilianh commented on #238
OK, I've fixed a few other things around cbSeurat (I don't think we're
still using it here, I mostly use cbScanpy now). You can install a
prerelease of 1.2 with

pip install cellbrowser --pre

Let me know if you run into problems. We hope to release this version
within 1-2 weeks.

On Wed, Apr 6, 2022 at 5:24 AM bugacov ***@***.***> wrote:

[2022-04-08 17:55] matthewspeir commented on #237
Hi, @yesonse. Can we close this ticket? Or are you still running into issues?

[2022-04-08 18:25] yesonse commented on #237
I am fine now.

[2022-04-08 18:25] #237 closed

[2022-04-12 06:44] devashishmohanta commented on #187
Hi @matthewspeir

This is a query regarding the "labelField" Change in the cellbrowser.conf file. Since it has to be changed every time before cbBuild operations, Is there any other way where we can dynamically change the labels in the layout according to the Annotation. Similar to what "Color By Annotation" function does, can there be "labels by Annotation" feature activated by incorporating any

[2022-04-12 15:17] matthewspeir commented on #187
Hi @devashishmohanta,

This feature is currently 'in development', though we're planning to release it soon. @maximilianh has a few more bugs to resolve with it.

You can preview it via the develop branch of the github repo (or maybe even via pip install --pre cellbrowser?) if you don't want to wait for the full pip release.

[2022-04-16 13:39] PriyankaOyx commented on #69
Hi @maximilianh

Thanks a lot for this amazing tool. I was wondering if there is a way to add pop-up markers for multiple cluster assignments?

For instance, I have clustered the 10x data using both louvain and leiden algorithm (for testing purposes) and have a column assigned to celltypes. I wanted to have an option to click and check markers based on label annotation (which i think is currently

[2022-04-18 09:00] devashishmohanta commented on #187
Thank you @maximilianh and @matthewspeir it was a great help.

[2022-04-18 11:06] devashishmohanta opened #241 "Adding multiple count matrix files in the label counts in the config file for the cbBuild"
Hello, cell browser developers,

I had a query regarding the count matrix input. Does the cell browser allow using multiple count matrix data in the cellbrowser.conf file to use it for cbBuild operation so that multiple counts matrix data can be used.
This is similar to what I am looking for:
![image](https://user-images.githubusercontent.com/43270576/163799780-5a01660d-bdd9-4d9d-8114-6c4d43ab733b

[2022-04-18 18:58] maximilianh commented on #187
Hi, do you like the feature as we have it now? Any feedback on it? We plan
to release it soon and can still add improvements or wishes now...

On Mon, Apr 18, 2022 at 11:00 AM DEBASHISH MOHANTA ***@***.***>
wrote:

[2022-04-19 08:25] maximilianh commented on #69
Yes! Have a look at cells-test.gi.ucsc.edu. It's on the left side menu, just select a different "Cluster Field" @mxposed added the code a while ago. Let us know if you have any feedback on it. It's not released yet, but coming very soon to the public site, I need to remove numeric fields from it and make sure that after a change of the layout the label fields are redrawn.

[2022-04-21 09:58] #232 closed

[2022-04-21 11:44] maximilianh commented on #232
Can you tell us what you did to solve this ? I have very little knowledge
of Tomcat and how it serves static files. Should we add a note to our
documentation to avoid Tomcat as a server ?

On Thu 21 Apr 2022 at 11:58, ckfromCN ***@***.***> wrote:

[2022-04-21 13:33] ckfromCN opened #242 "alert:Could not load mouse_temp_atac/exprMatrix.bin?chr1|3115016|3115356, error undefined"
Hi,
Thanks a lot for this amazing tool,
I was trying to build my own sc-ATAC-seq browser and downloaded the already deployed data from https://cells.ucsc.edu/?ds=mouse-kidney-atac+atac to test it.
But after I `cbBuild`, and searching for peek on the web expression, the web page alert me

The same problem is repeated for the https://cells.ucsc.edu/?ds=fetal-chromatin-atlas+lung+peaks data
![image](

[2022-04-21 14:15] maximilianh commented on #242
Hi,
thanks for the feedback. On our website, I cannot reproduce this error, I
search for Ace2 and I can select a peak. If I understood correctly, you
cannot get this to work on your own mirror, but it's working on our
website. It sounds as if something is different in your cellbrowser.conf
config file.

One thing is not documented anywhere, but the data directories contain a
copy of the original i

[2022-04-22 16:16] ckfromCN commented on #242
Thank you for your support I really appreciate.
Actually I used the hg19.gencode-28lift37 to run fetal-chromatin-atlas/lung/peaks ,but it has the same problem.
I am building a database of singlecell data,and this project is important to me.It would be a great help to me if I could access the original data directories

[2022-04-23 16:44] ckfromCN commented on #242
I tried again to create the file with `cbBuild -o html -p 8888` and provide web services, this did not give an alert
However, the html folder exported by cbBuild -o html is placed **under tomcat webapps** to provide web services, in this case there is an error (only ATAC peak data, scRNA data is normal)

[2022-04-23 20:20] maximilianh commented on #242
Sorry there is no web service here, it’s all static files. Maybe that’s
part of the misunderstanding?

But it’s great that the error went away, does this mean that we can close
this issue ?

On Sat 23 Apr 2022 at 09:44, ckfromCN ***@***.***> wrote:

[2022-04-24 04:08] ckfromCN commented on #242
Yes, the problem was solved,I will close this issue later.
May I ask how you deployed so many datasets under `https://cells.ucsc.edu/`?  I find that using the cbBuild -p command to serve web pages seems to consume memory all the time

[2022-04-26 00:51] maximilianh commented on #242
Yes, sorry, don't use the built-in webserver for production services. It's
just a small Python thing.

You can use any simple webserver that can serve static pages. Nginx,
lighthttp, Apache or anything else. We use Apache.

On Sat, Apr 23, 2022 at 9:09 PM ckfromCN ***@***.***> wrote:

[2022-04-26 05:10] PriyankaOyx opened #243 "mtx nomenclature in conf file"
Hi,
Thanks for your previous input regarding enabling multiple clusterFields in the browser.
I am now working with ~162K GBM 10x single-cell dataset. Upon running the cbImportSeurat script for the same, it generates the count and data matrix files in 10x input format (expr.mtx, barcodes.tsv and features.tsv).
Now I was able to redirect the config file to the correct path and file extensions (mtx i

[2022-04-26 06:02] PriyankaOyx commented on #69
Thanks a ton, that's a great help. Hope to see the update in the development version too.

But for now the issue is resolved.

[2022-04-26 13:42] maximilianh commented on #243
Hi Priyanka,
Do you know how to git clone and use the development version ? I think I’ve
fixed this entire issue yesterday. It should now export the right files,
and also pick up the right file names.

If you don’t know how to checkout out the development version, then I can
prepare a pip prerelease for you.

On Mon 25 Apr 2022 at 22:10, PriyankaOyx ***@***.***> wrote:

[2022-04-27 03:43] PriyankaOyx commented on #243
Hey @maximilianh,

Thanks, I was testing this recently and haven't updated my development version yet. Thanks, I will clone the development repository and close the issue.

[2022-04-27 03:43] #243 closed

[2022-04-29 21:17] maximilianh commented on #157
Hi Debashish, right now that's not possible. Can yo tell me why you want to
change the size of the right panel? Is there are dataset where the size of
it is a problem?

On Fri, Apr 29, 2022 at 5:02 AM DEBASHISH MOHANTA ***@***.***>
wrote:

[2022-05-01 21:13] devashishmohanta commented on #157
Hi @maximilianh,
Yes, you get it right sometimes the label annotation is larger than the LegendBar width size which makes it difficult to read as the text gets wrapped around the color boxes as mentioned by @Gibbsdavidl above. If it can be fixed somehow it will be really helpful.
Thanks

[2022-05-07 09:03] #242 closed

[2022-05-12 13:10] maximilianh commented on #89
This is all done now. There is a new UI now where you can select the label field. Can we close this, @matthewspeir ?

[2022-05-24 18:07] matthewspeir commented on #89
Yeah, I think we can close this now that we have the 'label by annotation' feature out there.

[2022-05-24 18:07] #89 closed

[2022-05-24 18:07] matthewspeir commented on #90
I think this is fixed now.

[2022-05-24 18:07] #90 closed

[2022-05-24 18:08] matthewspeir commented on #69
I think we can close this now that the 'label by annotation' feature is available.

[2022-05-24 18:08] #69 closed

[2022-05-24 18:09] #153 closed

[2022-05-24 18:11] #187 closed

[2022-05-24 18:13] matthewspeir commented on #215
We now have the 'label by annotation' feature which should allow us to display the labels for the different resolution.

@maximilianh I think the next step would be to allow one to specify multiple marker genes files, so that we can display the markers for each resolution?

[2022-05-24 18:17] matthewspeir commented on #233
@pcm32 We just updated Cell Browser on pypi to 1.2.0, but it doesn't look like the conda version is updated: https://anaconda.org/bioconda/ucsc-cell-browser? I was hoping to test the conda install after a new Cell Browser release just to be sure everything was fixed.

[2022-05-24 18:32] pcm32 commented on #233
It might be that someone needs to approve the automatic PR with the auto bump on bioconda, did you check that?

[2022-05-24 19:36] matthewspeir commented on #233
It was updated on Friday, May 13th.

Thanks for taking a look!

[2022-05-26 22:22] #211 closed

[2022-05-26 22:23] matthewspeir commented on #111
Not sure why this is still open, so closing.

[2022-05-26 22:23] #111 closed

[2022-05-26 22:51] #136 closed

[2022-05-26 22:58] matthewspeir commented on #225
Hi, @biocaitao ! It looks like the image you wanted to share didn't get attached to your comment.

However, we recently made some changes to support longer gene names in the quickGenesFile. Can you give v1.2.0 a shot and let us know if that fixes things for you? Once you've installed the new version via pip, you can upgrade the software on an existing cell browser instance using cbUpgrade --code -

[2022-05-26 22:59] matthewspeir commented on #216
@pcm32 and @maximilianh, is there anything else that needs to be done here? Or can we close this?

[2022-05-26 23:01] matthewspeir commented on #173
I think we can close this based on the fact that @mxposed's change was merged in and has been out there for ~1.5 years.

[2022-05-26 23:01] #173 closed

[2022-05-26 23:04] matthewspeir commented on #112
Not sure what's changed, but this seems to be all good now.

[2022-05-26 23:04] #112 closed

[2022-05-26 23:04] matthewspeir commented on #227
@maximilianh did anything ever get changed here? Should we close this ticket?

[2022-05-27 19:47] maximilianh commented on #216
cbImportScanpy now has this option, I think this answers @pcm32 question:

  --proc                when exporting, do not use the raw input data,
instead
                        use the normalized and corrected matrix scanpy. This
                        has no effect if the anndata.raw attribute is not
used
                        in the anndata object

On Fri, May 27, 2022 at 1:00 AM Matt Speir

[2022-05-30 13:51] maximilianh commented on #227
I didn't do anything special and  Daniel didn't get back to me. But also, I
happened to change the reading of the sample names for other reasons, and I
believe (hope) that this is not a problem anymore. There are two functions,
readMatrixSampleNames and readMetaSampleNames and both don't do special
character replacement anymore, but, I didn't test it either. Either way. it
may be safe to close thi

[2022-05-31 17:28] matthewspeir commented on #227
Duplicated+edited the matrix/meta/tsne for a small dataset to include a semicolon and all seems to be working fine.

[2022-06-01 17:53] tkakar opened #246 "Question - Linking cellBrowser through another web-app with dynamic data selection"
I'm building a web-app (vue + node) where I want to link cellBrowser (hosted on a local S3 bucket) for our own data selected dynamically and was wondering if anyone else has done it? My understanding is to add the data in the output directory and update the configuration file. Or having all the data in the output directory and only select the needed one (dynamically selected via the app) in the co

[2022-06-01 21:15] maximilianh commented on #246
Can’t you build one cell browser dataset per patient and then just link to
the right dataset with the ds=xxx parameter ?

On Wed 1 Jun 2022 at 23:14, Tabassum Kakar ***@***.***> wrote:

[2022-06-02 13:03] tkakar commented on #246
That seems much easier. Thanks for the suggestion. I'll try that.

[2022-06-02 13:23] maximilianh commented on #246
The cell browser has built-in support for many datasets, all of them are
shown as a list if you don't provide the ds=parameter. You can look at
cells.ucsc.edu what this looks like.

As long as you run cbBuild with the same html output directory, any new
dataset added with cbBuild will simply add to the this long list of
datasets.

But of course you can always add the ?ds=<datasetname> to the URL a

[2022-06-13 22:22] matthewspeir commented on #246
Hi, @tkakar, if all is good with Max's '?ds=' suggestion, can we close this ticket?

[2022-06-13 22:24] matthewspeir commented on #169
Is this still an issue? If not, maybe we can close the issue?

[2022-06-14 12:51] maximilianh commented on #169
Yes, this was still an issue. I'm sorry that it took me two years to get back to this, mea culpa, it indeed broke our cbScanpy example. The fix was easy, one only has to run adata.var_names_make_unique() before running the gene filters. Scanpy used to do this automatically. One reason why we couldn't reproduce this at first could have been that we used a slightly outdated scanpy version back in 20

[2022-06-14 13:18] maximilianh commented on #169
Closing this issue now, though maybe Matt want to test that the example really works now...?

[2022-06-14 13:18] #169 closed

[2022-06-14 15:09] tkakar commented on #246
Hi sorry I haven’t gotten a chance to implement it yet. I’ll try next week.

Thanks.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Matt Speir ***@***.***>
Sent: Monday, June 13, 2022 6:22:24 PM
To: maximilianh/cellBrowser ***@***.***>
Cc: Kakar, Tabassum ***@***.***>; Mention ***@***.***>
Subject: [EXT] Re: [maximilianh/cellBrowser] Question - Linking cellBrows

[2022-06-14 20:58] mxposed opened #247 "gene expression and proteins together"
Hi,

I wonder what configuration and object looked like for these objects? https://cells.ucsc.edu/?ds=multimodal-pbmc+sct
We have a gene expression + CITE-seq data for several objects, and we'd like to use cellbrowser for that, but I couldn't find a recipe in the documentation.

Thank you
cc @karolinasenkow

[2022-06-14 23:23] matthewspeir commented on #247
Hi, @mxposed.

We also now have a [cellbrowser-confs](https://github.com/ucscGenomeBrowser/cellbrowser-confs) repo, and so I've added the *conf files and a small README for this dataset: https://github.com/ucscGenomeBrowser/cellbrowser-confs/tree/main/multimodal-pbmc. Let me know if that's helpful at all.

To summarize though: data was in [h5seurat](https://mojaveazure.github.io/seurat-disk/index.

[2022-06-15 10:37] maximilianh commented on #247
I may be wrong, but isn't expression + ADT in the same matrix for a
cite-seq experiment? If so, we should be able to handle this without any
changes, I hope?

On Wed, Jun 15, 2022 at 1:23 AM Matt Speir ***@***.***> wrote:

[2022-06-15 18:30] maximilianh commented on #247
Yes just make them unique. Add a prefix or suffix.

Hmm… we’ll need some way in the UI to make this obvious … any idea ?

On Wed 15 Jun 2022 at 20:11, Nikolay Markov ***@***.***>
wrote:

[2022-06-23 16:15] tomsing1 opened #248 "stop() instead of error() in the cellbrowser.R script?"
I noticed the use of the `error()` command here and in another line of this script.
I ran into a condition where this part of the code was called and got:
[code]
Perhaps that should be `stop()` instead?

https://github.com/maximilianh/cellBrowser/blob/d0e83c6bd645729564d1a847535f78d922ca9caa/src/cbPyLib/cellbrowser/R/cellbrowser.R#L113

[2022-06-27 13:05] maximilianh commented on #248
Oops! Many thanks! I've changed this now. I guess we have never run into this special case here while using the code.

While at it, I'm also committing a code change that removes the .tsv.gz support for the very big matrices that exceed the R limits and always fall back to .mtx.gz export now. Probably I should always write .mtx.gz by default...?

Thanks for this suggestion and please don't hesitat

[2022-07-21 12:03] AmelZulji opened #249 "Special characters in the column names"
Hi Max,

In the following code featured for loading Seurat objects (https://cellbrowser.readthedocs.io/en/master/load.html):

[code]

The line: `mat = data.frame(mat[,-1], row.names=genes)` replaces special characters from column names. Perhaps including argument `check.names = FALSE` is an option??

Regards,
Amel

[2022-07-21 14:39] maximilianh commented on #249
Thanks I made this change in the docs.

[2022-07-21 14:39] #249 closed

[2022-08-03 17:04] RoganGrant opened #250 "os.getLogin() function breaks seurat.py"
First of all, thank you for this package. It is an essential tool for open science and a serious workhorse for us.

I am currently trying to generate a cellbrowser object from a seurat RDS. However when I run the `cbImportSeurat` function, it invariably returns the error

This appears to result from line 433 of the seurat.py script due to `os.getLogin()`. This appears to be more of an [os issue](h

[2022-08-03 17:15] maximilianh commented on #250
Oops. This line is not important at all. I’ll remove it. Can you
temporarily comment it out to make it work for you ?

Thanks for the feedback. I didn’t know it was a problematic function call.

On Wed 3 Aug 2022 at 19:05, Rogan Grant ***@***.***> wrote:

[2022-08-03 17:18] RoganGrant commented on #250
Wow, thank you for the fast response! Yes I can do that.

[2022-08-05 14:50] RoganGrant commented on #210
To clarify, are seurat4 objects supported in any release versions as of now?

[2022-08-05 15:01] matthewspeir commented on #210
We run cbImportSeurat on seurat4 objects all the time.

[2022-08-05 15:03] RoganGrant commented on #210
Thank you! I ended up answering my own question anyway [in 1.2.1](https://github.com/ucscGenomeBrowser/cellBrowser/commit/21e50ecc53c9791f7060bd88ed792ad591a35ab0#diff-76963530da33a6c4001d20a7d55860e7b3c9ec3a5ec88a464be0c773b9b75668)

[2022-08-05 15:14] matthewspeir commented on #210
Awesome :)

[2022-08-25 17:15] matthewspeir commented on #216
Sounds good! We'll close this for now.

[2022-08-25 17:15] #216 closed

[2022-08-25 17:16] matthewspeir commented on #193
I think we can close this for now? Feel free to reopen if there's more to discuss.

[2022-08-25 17:16] #193 closed

[2022-08-25 17:18] matthewspeir commented on #225
Closing this ticket for now. Feel free to reopen if more discussion is needed or open a new ticket if you run into new issues.

[2022-08-25 17:18] #225 closed

[2022-08-25 17:21] matthewspeir commented on #233
Well, it looks like the Cell Browser in conda still hasn't updated to 1.2.0, but it looks like the original error this issue was made for is fixed with the 1.1.1 version available, so closing this for now.

[2022-08-25 17:21] #233 closed

[2022-08-26 22:50] matthewspeir commented on #165
@maximilianh could this request be addressed by the 'metaOpt' setting:
[code]

I see we have it in the cellbrowser.conf for the autism dataset: https://github.com/ucscGenomeBrowser/cellbrowser-confs/blob/ed517a20ed4a04fe412e81831159b0a022170f0b/autism/cellbrowser.conf#L73. Or does that setting not do what I think?

[2022-08-29 12:27] maximilianh commented on #165
Oops, I think this is incorrect in the example. We've only used it once, so
it never got tested.

The code renames this from metaOpt to just "opt", my bad, a bad choice for
finding it quickly.

I think it does what you think it does, but should be metaOpt = {'fontSize'
: "80%"}, I believe. See the code:
---
           var styleAdd="";
            if (metaInfo.opt!==undefined) {
                var

[2022-08-29 16:19] matthewspeir commented on #165
Thanks, Max. I would assume that it addresses the request in this ticket, so I'm going to go ahead and close this. @Parul-Kudtarkar feel free to reopen if more is needed here.

[2022-08-29 16:19] #165 closed

[2022-08-30 13:21] maximilianh commented on #165
Hi @Parul-Kudtarkar <https://github.com/Parul-Kudtarkar> if you're still
using the Cell Browser, do you have URL for us where we can have a look
around? I'm curious how you're using the options.

nikolay has a branch with various changes to the font/size of the cluster
labels.

On Mon, Aug 29, 2022 at 6:19 PM Matt Speir ***@***.***> wrote:

[2022-09-12 10:18] Bhersbach opened #251 "Question/Issue: Index not showing"
We are setting up Cell Browser in our lab and have successfully prepared two Cell Browser folders as a test. However, when we use cbBuild to host the data, we can access the individual datasets only by using the dataset name, i.e., server address:/?ds=dataset_name. The index/title page, does not load and, instead, we get an empty Cell Browser page. When attempting to open a dataset through file >

[2022-09-12 10:52] maximilianh commented on #251
Yes, I'm sure we can solve this quickly. Have you defined the dataset
hierarchy as explained here or not:
https://cellbrowser.readthedocs.io/en/develop/collections.html

Does your instance have a publicly accessible URL so I can have a quick
look?

On Mon, Sep 12, 2022 at 12:18 PM Bhersbach ***@***.***> wrote:

[2022-09-12 13:42] Bhersbach commented on #251
I hadn't done that and just gave it a try, it doesn't seem to have solved the issue (or I did it incorrectly). Unfortunately, our instance is currently not public, so I will try to briefly summarize the situation:
- We have one folder (User1) that contains two datasets (Dataset1 & Dataset2)
- The ~/.cellbrowser.conf file does not seem to be present the home folder so I ran `export CBDATAROOT='/hom

[2022-09-12 13:56] maximilianh commented on #251
My ~/.cellbrowser.conf looks like this:

gaTag = "G-5CVR5ZC288" # test, GA3 and GA4 combined
htmlDir = "/usr/local/apache/htdocs-cells"
dataRoot = "/hive/data/inside/cells/datasets/"
outDirs = {"alpha" : "/usr/local/apache/htdocs-cells", "beta" :
"/usr/local/apache/htdocs-cells-beta/" }
reqTags = ["body_parts", "unit"] # you won't need this
email = ***@***.***"
#useTest = True # only for testing c

[2022-09-12 14:00] Bhersbach commented on #251
Thanks! My home directory doesn't have a .cellbrowser.conf file though. Is it located somewhere else when using a conda environment by any chance?

[2022-09-12 14:08] maximilianh commented on #251
How about just creating a config file?

echo 'dataRoot = "/home/cellbrowser/User1/"' > ~/.cellbrowser.conf

I think I'll add this command to the documentation...

On Mon, Sep 12, 2022 at 4:00 PM Bhersbach ***@***.***> wrote:

[2022-09-13 07:16] Bhersbach commented on #251
I ran the code as you described. The webserver it launches is empty, I cannot access any datasets even by their url. Going to the html folder and opening the index html gives the following error: Could not find a dataset at dataset.json?86f083f58d. Would it make sense to do a video call so I show you?

[2022-09-13 09:27] maximilianh commented on #251
We don't usually do video calls, also I don't know your time zone or
affiliation. We could do that, but as a last resort.

Yes it cannot find the dataset.json file.

Did you check ~/.cellbrowser.conf, what is in the file? Can you copy it
here?

Did you check this: "In  /home/cellbrowser/html there should be a desc.json
file then with your html text. and a dataset.json file."

On Tue, Sep 13, 2022

[2022-09-13 09:35] Bhersbach commented on #251
So our ~/.cellbrowser.conf file contains a single line: dataRoot = "/home/cellbrowser/OutputData/Bob/"
Within the html folder there are indeed the desc.json, the inded.html and dataset.json file

[2022-09-13 12:27] maximilianh commented on #251
Previously you wrote that you used this command:

CBDATAROOT='/home/cellbrowser/User1/

But in the config file you have:

dataRoot = "/home/cellbrowser/OutputData/Bob/"

looks odd to me, are the data files of dataset1 and dataset2 really located
under /home/cellbrowser/OutputData/Bob/ ? So you have directories such
as  /home/cellbrowser/OutputData/Bob/dataset1
and  /home/cellbrowser/OutputData/Bob

[2022-09-13 13:30] maximilianh commented on #251
The data root folder is determined in this code function:

def findRoot(inDir=None):
    """ return directory dataRoot defined in config file or CBDATAROOT
    environment variable.
    """

    if 'CBDATAROOT' in os.environ:
        dataRoot = os.environ['CBDATAROOT']
    else:
        dataRoot = getConfig("dataRoot")

    if dataRoot is None:
        logging.info("dataRoot is not set in ~/.cellb

[2022-09-13 13:41] maximilianh commented on #251
More concretely, can you look for "Deactivating hierarchies" or "Dataset
hierarchies are not supported" ?

On Tue, Sep 13, 2022 at 3:30 PM Maximilian Haeussler ***@***.***>
wrote:

[2022-09-14 15:41] zahoorhuma commented on #226
@maximilianh How can we run dataset hierarchies on windows machine via command and what will be the directory structure. I have read the documentation but confusion is still there.

[2022-09-14 16:35] maximilianh commented on #226
OK, so the docs page is not clear... can you tell me what you understand
from the docs page? This will help me extend it. Which part do you find
confusing?

On Wed, Sep 14, 2022 at 5:41 PM zahoorhuma ***@***.***> wrote:

[2022-09-15 11:52] maximilianh commented on #226
Here, the dataRoot is "parent Folder". Please do not use the -r option,
just run cbBuild in "parent Folder". I am just adding documentation to -r
and will need to change the docs page and fix something in the code to make
sure that this is clearer.

Does this work for you?

Do you have a ~/.cellbrowser.conf file?

On Wed, Sep 14, 2022 at 7:09 PM zahoorhuma ***@***.***> wrote:

[2022-09-15 12:16] zahoorhuma commented on #226
Let me try this.

Yes every dataset has its cellbrowser.conf file.

As ~/.cellbrowser.conf is in Linux so don't know where to create that file in Windows.

Are we supposed to create that cellbrowser.conf file in the parent Folder?

[2022-09-15 12:32] maximilianh commented on #226
Sorry, one problem here is my unfortunate naming of the files. the
~/.cellbrowser.conf file has nothing to do with the cellbrowser.conf files
for the datasets.

The ~/.cellbrowser.conf file is a configuration file in your homedirectory.
I don't know where that is but I think if you run cbBuild with -d, you can
get an idea of where it is located on Windows. Also you can google for
"python home dire

[2022-09-15 12:35] zahoorhuma commented on #226
Oh okay okay. let me try this and get back to you. Thank you so much @maximilianh .

[2022-09-15 12:38] maximilianh commented on #226
Thank you for asking, because I'm realizing now where the problems are...

On Thu, Sep 15, 2022 at 2:35 PM zahoorhuma ***@***.***> wrote:

[2022-09-15 14:09] zahoorhuma commented on #226
I have tried the above solution but issue is still there.

I have set the environment variable CBDATAROOT with the value of parent folder.

![image](https://user-images.githubusercontent.com/75778741/190424208-b419808a-53eb-4c7e-a617-932ffa6de9b7.png)

Then, I run the command cbBuild it shows me the following error:

![image](https://user-images.githubusercontent.com/75778741/190424665-dc07021e-9a

[2022-09-15 14:21] maximilianh commented on #226
Yes, this problem looks unrelated to hierarchies... it just can't find the
meta.tsv input file...? Is "src" a data directory?

On Thu, Sep 15, 2022 at 4:10 PM zahoorhuma ***@***.***> wrote:

[2022-09-15 14:41] zahoorhuma commented on #226
src is a directory coming from the cell browser github  code clone. After running the above command it created a folder named sample in the output directory but no content inside. Meta.tsv file should be in the sample folder.

[2022-09-15 15:05] maximilianh commented on #226
You cd into the "parent Folder", then run cbBuild. You cannot cd into the
"src" folder and run cbBuild there, that cannot work in any way. You must
be in your data directory to be able to run cbBuild and you specify the
html output directory with the -o option.

On Thu, Sep 15, 2022 at 4:41 PM zahoorhuma ***@***.***> wrote:

[2022-09-15 15:35] zahoorhuma commented on #226
@maximilianh let me try this as well.

[2022-09-15 18:40] tkakar commented on #251
Hi. I'm running into same proplem. In my case a computer restart worked and data hierarchy was created, at least inside the html folder I could see 'inDir' and the path to my root data directory in html/dataset.json file. However, when I open the browser by typing `python -m http.server 8080` inside the html directory, the UI shows nothing. Under the developer tools, I see the following error mess

[2022-09-15 18:43] #246 closed

[2022-09-15 20:51] maximilianh commented on #246
Does this mean that you implemented something?

On Thu, Sep 15, 2022 at 8:43 PM Tabassum Kakar ***@***.***>
wrote:

[2022-09-15 20:52] maximilianh commented on #251
Ohhh!!! Darn. I can fix this. Yes, we have new "disease filters".
Apparently somewhere it assumes that "disease=["cancer"]" or something like
this is defined in the cellbrowser.conf file.

Are you using a github clone? If I fix this now, could you use the updated
source code form Github or do you need a pip release?

On Thu, Sep 15, 2022 at 8:41 PM Tabassum Kakar ***@***.***>
wrote:

[2022-09-15 21:02] tkakar commented on #251
Pip release please. Thank you.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Maximilian Haeussler ***@***.***>
Sent: Thursday, September 15, 2022 4:53:08 PM
To: maximilianh/cellBrowser ***@***.***>
Cc: Kakar, Tabassum ***@***.***>; Comment ***@***.***>
Subject: [EXT] Re: [maximilianh/cellBrowser] Question/Issue: Index not showing (Issue #251)

Ohhh!!! Darn. I c

[2022-09-15 21:04] tkakar commented on #246
Hi Max,

Focus got shifted towards other priorities at the moment.

Tabassum

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Maximilian Haeussler ***@***.***>
Sent: Thursday, September 15, 2022 4:51:37 PM
To: maximilianh/cellBrowser ***@***.***>
Cc: Kakar, Tabassum ***@***.***>; State change ***@***.***>
Subject: [EXT] Re: [maximilianh/cellBrowser] Question - Lin

[2022-09-15 21:39] maximilianh commented on #251
Hi @tkakar and @Bhersbach, sorry that it took me so long to understand what's going on. It had nothing to do with the hierarchy, but was a typo in the new diseases filter, I had fixed that in the develop branch, it slipped into the last release. Here is a new pre-release https://pypi.org/project/cellbrowser/1.2.1a1/  (I must release soon) You can install it with
"pip install --pre cellbrowser --up

[2022-09-16 14:04] zahoorhuma commented on #226
@maximilianh Thank you. It has processed the data set. Thank you once again for the help.

[2022-09-16 14:54] tkakar commented on #251
@maximilianh  thanks for fixing the issue. I did as suggested. The `disease` related error is gone.
The individual datasets can be accessed via `?ds=datasetName` on the url, but the data hierarchy still does not work. Under developer tools, I see errors. Posting screen shot of both scenarios (individual dataset and hiararchy).
<img width="1510" alt="Screen Shot 2022-09-16 at 10 49 42 AM" src="http

[2022-09-16 16:42] zahoorhuma commented on #226
@maximilianh could you please refer me where we can find the raw datasets if is there any?

[2022-09-16 23:40] maximilianh commented on #226
hi sorry what do you mean, which "raw datasets" ?

On Fri, Sep 16, 2022 at 6:42 PM zahoorhuma ***@***.***> wrote:

[2022-09-17 04:38] zahoorhuma commented on #226
Means to say input dataset.. because I have seen cell browser images in that there is 3 collections 10 datasets kind of thing. How can we achieve that.

![cellbrowser-DatasetOverview converted](https://user-images.githubusercontent.com/75778741/190840640-6cebfe34-9e09-4fa7-9b88-f35e6c2b45b2.jpg)

Please find the attached picture for your reference.

[2022-09-19 16:04] maximilianh commented on #251
Hmm....It would be so much easier to debug this if you had this on a public
website so I could run the debugger instead of guessing...

I have a feeling that we've fixed this bug in the develop branch...

Can you send me the code around line 1138 in your version cellBrowser.js ?
Or send the me the whole file?
Somehow, in my cellBrowser.js in the master branch, it doesn't match what
your error mess

[2022-09-19 16:16] tkakar commented on #251
@maximilianh. I'm emailing the whole file, but the code around line 1138 is below

[code]

Unfortunately, due to data confidentiality, I cannot share the website.

[2022-09-19 16:21] maximilianh commented on #251
Sorry, again a question: which line here is line 1138 ?

On Mon, Sep 19, 2022 at 6:16 PM Tabassum Kakar ***@***.***>
wrote:

[2022-09-19 16:22] tkakar commented on #251
It's this line. `if (filtList.length===0)`

[2022-09-20 10:01] maximilianh commented on #251
So I'm sure that you got the hierarchy to work, now it's something with the
filters that is broken on your installation. I wonder if you specified some
filters but not others... or the code has a problem (that is not visible on
our site).

OK, I took the entire develop branch and made a pip release from it. Can
you do a "pip install cellbrowser --pre --upgrade" and then run "cbUpgrade
-o <htmlDire

[2022-09-20 12:31] maximilianh commented on #226
Hi, these are just the data hierarchy in action, we call them
"collections".
Did you see this part of the documentation?
https://cellbrowser.readthedocs.io/en/develop/collections.html

On Sat, Sep 17, 2022 at 6:38 AM zahoorhuma ***@***.***> wrote:

[2022-09-20 12:40] zahoorhuma commented on #226
@maximilianh yes I have tried but didn't get any fruitfull results

[2022-09-20 12:51] maximilianh commented on #226
can you try "pip install cellbrowser --pre --upgrade" and see if that fixes
the problem? You need a ~/.cellbrowser.conf file, the ~ character is the
directory C:\Users\yourusername\ in Windows (replace username with your
username)

The ~/.cellbrowser.conf must include a line dataRoot=<directory that
includes all your data files> with double quotes around the directory

On Tue, Sep 20, 2022 at 2:40

[2022-09-20 13:05] zahoorhuma commented on #226
@maximilianh I have tried that. It does generate some files but while processing it gives me an error there is no meta data in cell browser.conf file.

![image](https://user-images.githubusercontent.com/75778741/191272344-ddb2bd8e-5437-4b86-84f1-bf42d21481f7.png)

[2022-09-20 14:04] tkakar commented on #251
@maximilianh thanks for troubleshooting this with me. My .conf files were based on some previous version from repo where other categories were not defined (except the body_parts). I just updated it and it's working now. Thanks for all your help.

[2022-09-20 14:12] maximilianh commented on #251
Ahhh. This makes sense. So something is broken when these are not
specified. I guess we never tested this.

@Brittney Wick ***@***.***> don't we have a dataset on cells-test where
some of these attributes are missing? Hmmm... I'm surprised this hasn't
come up before...

On Tue, Sep 20, 2022 at 4:04 PM Tabassum Kakar ***@***.***>
wrote:

[2022-10-07 16:50] michael-kotliar opened #253 "Split view by dataset"
Hello! Is there any functionality in the browser that would allow to split the view by dataset or, let's say, by time point? We have data aggregated from 4 time points and would like to visualize them side by side.

Thanks a lot,
Michael

[2022-10-07 20:07] maximilianh commented on #253
Hi Michael, hmmm, that's a cool idea, I could add that... are these big
datasets? And are these datasets on our site cells.ucsc.edu or some other
website?

Right now, you can actually do it like this: integrate the four datasets,
split the umap coordinates by time point, activate split screen mode and
select one timepoint on each split screen side. But that's somewhat
convoluted.

I appreciate any

[2022-10-11 06:57] maximilianh commented on #237
Hi Robin,

thanks for your question. I'm sure we can quickly help you fix this.

exprMatrix.tsv.gz to itself.

It sounds as if this is the source of the problem. Can you show us the
exact error?

And show us your directory structure: I imagine there is one root
directory, under it a directory for the collection, and in this directory,
one directory for each dataset? And all of these directories ha

[2022-10-11 07:13] maximilianh commented on #241
Hi, thanks for this feedback.

You can supply multiple matrices like this:

matrices=[ {'label':'counts','fileName':'counts_exprMatrix.tsv.gz'},
 {'label':'data','fileName':'data_exprMatrix.tsv.gz'},
 {'label':'scale','fileName':'scale_exprMatrix.tsv.gz'}]

But this will be used for downloads only. Right now these are not used for
coloring it. I assume you want

- a dropdown so the user can select

[2022-10-11 07:21] maximilianh commented on #237
Oh.... now I understand! You never made an htdocs directory.

yes, this won't work. I never thought that someone would not have two
separate directories. It sounds like we should mention that somewhere in
the documentation, that they really must be separate, as otherwise cbBuild
will overwrite its own output files...

On Thu, Mar 24, 2022 at 8:44 PM yesonse ***@***.***> wrote:

[2022-10-11 07:27] maximilianh commented on #251
Yes, please don't use the -r option, it's not meant to be used with the -p
option, sorry I didn't mention that (and it's not documented I just saw).

No need for the -r just run cbBuild with the -o and -p options.

Also, if this is a production webserver, don't use the -p built-in server,
it's slow and can use a lot of RAM. I'd rather use any other webserver,
apache, nginx or anything else you lik

[2022-10-11 07:46] maximilianh commented on #241
Hi @devashishmohanta are you still interested in this feature?

On Fri, May 27, 2022 at 12:55 AM Matt Speir ***@***.***>
wrote:

[2022-10-11 08:59] maximilianh commented on #251
Oops, sorry! I should have written "desc.conf", in addition to
"cellbrowser.conf". You define the title in cellbrowser.conf like this
/home/cellbrowser/User1/:

shortLabel = "All Datasets"

and then write your html into desc.conf, as you would do for a normal
dataset:

title = "UCSC Cell Browser Intro"
abstractFile="../news/combined.html"

You can create sample files for the root dataset as with a

[2022-10-24 20:39] yesonse opened #254 "abstract.html do not working"
Dear there,

I am using abstract.html for each dataset, found that it worked on a simple "abstract.html" that I wrote by myself, but never worked when I made a new "abstract.html" by using r markdown.

Could you help to take a look why my new abstract.html did not work?
Here I attached the errors and the "desc.json" that included my new abstract.html.

Thanks

Robin

![Screen Shot 2022-10-24 at 1

[2022-10-24 21:19] yesonse opened #255 "cache problem of google chrome browser or server httpd setting?"
I got a problem that bothered me for a long time.

I run well with a ucsc cell browser on a ubuntu server and keep adding new datasets into it.
But each time when I finished adding a new dataset and want to check it in my laptop, the new dataset did not show up instantly, so can not be opened with my google chrome browser in my mac laptop, only those old datasets showed. The new dataset would show

[2022-10-24 21:23] maximilianh commented on #254
Hi,
It looks like it's not including all the javascript files... can you point
me to the URL of this installation? I'm sure there is something very
obvious that's going wrong...

On Mon, Oct 24, 2022 at 10:39 PM yesonse ***@***.***> wrote:

[2022-10-24 21:27] maximilianh commented on #255
Hi Robin,

it's possible that this is still happening, I've tried a few things to
avoid it but it's possible that they didn't work.

Is your dataset part of a collection or is it a "top-level" dataset?

Did you try to click shift+reload? That's what I do when I add new datasets
in Chrome.

The main index.html page tries to avoid getting cached with a meta data.
Then all the datasets have their own

[2022-10-24 21:43] yesonse commented on #255
Thanks, shift + reload seemed works!
They are part of collection, not the "top-level" datasets.

[2022-10-24 22:12] yesonse commented on #254
I believed I updated my installation of cell browser in March 2022 using pip.

it seemed not compatible with the new abstract.html I made.
The desc.json file attached showed what I want but always crashed the webpage after clicked.

The cell browser work well when the desc.json is missing (I just gzipped it).

Thanks.

Robin

[2022-10-25 05:05] maximilianh commented on #255
Great. Do you use the Chrome Debugger/Inspector? If yes, can you check next
time in the network tab if the "MD5" part of the collection's dataset.json
file URL changes when you add a dataset to this collection? The problem
must be somewhere around how this MD5 is updated. It sounds as if it's not
updated.

On Mon, Oct 24, 2022 at 11:43 PM yesonse ***@***.***> wrote:

[2022-10-26 14:36] maximilianh commented on #254
There is no attachment. Did you forget the attachment?

Does this cell browser have a publicly available URL? I could then have a look directly myself.

[2022-10-26 14:36] maximilianh commented on #254
Did you try to update your browser with

pip install cellbrowser --upgrade --pre ?

[2022-10-26 20:52] yesonse commented on #254
No, it is not publicly available.
The attachment is
https://github.com/maximilianh/cellBrowser/files/9855209/desc.json.gz

Let me know if there is a simple way to fix it.

Thanks

Robin

[2022-10-26 20:59] yesonse commented on #254
Thanks Maximilianh,
Here I attached the abstract.html that is not not compatible with the
cell browser. Let me know if there is a simple way to fix it.

Robin

On Wed, Oct 26, 2022 at 7:36 AM Maximilian Haeussler <
***@***.***> wrote:

[2022-10-28 14:38] maximilianh commented on #254
Sorry now I cannot see the new abstract.html attachment… can you see it on
GitHub ?

On Wed 26 Oct 2022 at 22:59, yesonse ***@***.***> wrote:

[2022-10-28 15:54] zahoorhuma commented on #226
Hey @maximilianh I want to restrict columns of meta.tsv file to some users. Any idea how can we do that. What is the role of meta.index file in it?

[2022-10-28 15:55] maximilianh commented on #226
Sorry what do you mean with “users” and “restrict” ? I don’t understand the
question.

On Fri 28 Oct 2022 at 17:55, zahoorhuma ***@***.***> wrote:

[2022-10-28 15:58] zahoorhuma commented on #226
@maximilianh
![IMG-20221028-WA0035](https://user-images.githubusercontent.com/75778741/198681272-d0c11b98-5750-4b03-bc75-298526df8f7f.jpg)

This is the picture I want to restrict these metafields i.e Age,Area etc. I don't want Laminae metafield. How can we achieve that

[2022-10-28 16:02] maximilianh commented on #226
If you want to remove a field from the meta data, just remove the field
from meta.tsv and run cbBuild again.

I hope I understood your question correctly.

On Fri 28 Oct 2022 at 17:59, zahoorhuma ***@***.***> wrote:

[2022-10-28 16:04] zahoorhuma commented on #226
@maximilianh yeah you got my point.let me try this solution. Hope this works

[2022-10-28 16:08] zahoorhuma commented on #226
But I have one question @maximilianh this meta.tsv file build after we run cbBuild. Right? If we remove the field and on running the cbBuild again on the dataset isn't make the meta.tsv file again?

[2022-10-28 16:11] maximilianh commented on #226
No the cbImportXXC create the meta.tsv file in the data directory. In that
data directory, you modify meta.tsv, then run cbBuild to create the html
directory. This html directory contains a copy of the meta.tsv, yes, but is
accompanied by a matching index file. You need to re-run cbBuild after each
change to meta.tsv in the data directory to recopy the meta.tsv in the html
folder and rebuild its i

[2022-10-28 16:13] zahoorhuma commented on #226
@maximilianh let me try this solution

[2022-10-28 16:39] zahoorhuma commented on #226
@maximilianh what is the purpose of meta.index file with meta.tsv? Is it contains the mapping of tsv file in it. Can we achieve it with meta.tsv file only. or meta.index file is necessary.

[2022-10-28 17:50] maximilianh commented on #226
I’m not sure why you’re asking… You can only modify the data folder, not
the html directory. the files in the html (htdocs) directory are not
independent from each other: they go together. There is no need to change
these files, as far as I know.

meta.index has the start and end coordinates of every line in meta.tsv. You
cannot change meta.tsv in the html directory.

What you can do: change meta.

[2022-10-28 17:52] zahoorhuma commented on #226
@maximilianh Thank you so much.

[2022-11-01 16:59] yesonse commented on #254
Here it is. It seemed the github email attachment did not work.
Thanks.
[abstract.html.gz](https://github.com/maximilianh/cellBrowser/files/9912463/abstract.html.gz)

[2022-11-06 17:27] cancerGen opened #256 "Custom colors for each attribute"
Hi,

I was just curious if you already have in place the ease of assigning and storing colors for each attribute. For instance, I want to always color all the microglia cells purple or green, etc. Currently, every time I restart the browser I have to manually set colors for each attribute. Maybe there's a slot somewhere in the json file that will allow me to assign and store colors?

[2022-11-06 21:57] maximilianh commented on #256
Yes! There is the “colors” file in the sample cellbrowser.conf file. It’s a
table, comma or tab sep. Two columns, first the value then the color as a
six digit hex value. Can you see it in the sample config file ? Otherwise
let me know, I can add more examples.

On Sun 6 Nov 2022 at 18:27, cancerGen ***@***.***> wrote:

[2022-11-07 06:39] cancerGen commented on #256
Hey, thanks for the prompt response. Your suggestion works perfectly.

Closing this issue now.

[2022-11-07 10:13] maximilianh commented on #256
Hi @cancerGen, can you tell me why you didn't see this? I need to make
options like this easier to understand. The sample config has this
particular statement, but maybe I should highlight these things more in the
documentation?

On Mon, Nov 7, 2022 at 7:39 AM cancerGen ***@***.***> wrote:

[2022-11-07 13:12] cancerGen commented on #256
Sorry for the inconvenience, but the colors parameter is allowing me to assign colors to just one attribute. I was looking specifically to have pre-assigned colors for clusters/mutations/Gender. I tried providing multiple color files but that doesn't seem to work. I also tried providing colors for all possible attributes in a single file but that doesn't work either.

[2022-11-07 13:25] maximilianh commented on #256
Sorry, I don't understand what you mean with "attribute" - do you mean that
the coloring works only for the cell-type meta data field? It should work
for any field, as long as the field values match exactly to your colors
file...

On Mon, Nov 7, 2022 at 2:12 PM cancerGen ***@***.***> wrote:

[2022-11-07 17:07] cancerGen commented on #256
Sorry for the confusion.
I mean I want to have pre-assigned colors for multiple fields at the same time. For instance, I have three fields: clusters, mutation, and Gender. Currently, the cell browser allows me to pre-assign colors only for any one of the mentioned fields. My objective is to assign colors to all the fields in the metafile.

I hope this clears my question.

[2022-11-09 16:02] samfenske opened #257 "Cannot find dataset when refreshing"
Hello, I have been able to upload a handful of datasets to a project, and often times I will have to clear the cache for the new dataset to appear. However, I noticed that when I clear the cache with a dataset open or try to open a specific link referencing the dataset (ex. the url for the cellbrowser object with a certain gene selected), I get the following error.

"Could not find a dataset at 01

[2022-11-11 04:50] kevin198930 opened #258 "Cannot read single sample name from the matrix"
Hello, I am trying to create a cell browser with a Seurat object. I converted the .Robj Seurat object to a .rds object and used the following command: cbImportSeurat -i project_7688.rds -o UCSC_Import --htmlDir=~/public_html/cb . The command then begins to run and FindAllMarkers is also run on the Seurat object. The version the Seurat Object was created under is v4.1.0. I end up with the following

[2022-11-14 10:41] maximilianh commented on #258
Hi Kevin, thanks for your question.

I've never seen this error message before. Is there a way you could share your expression matrix file counts_exprMatrix.tsv.gz with me (maxh@ucsc.edu) ? Or the entire folder ~/Project_7688/Results/UCSC_Import/ as a zip file? An alternative way to work around this could be the --useMtx option of cbImportSeurat.

The sample names are read with this function, and

[2022-11-14 13:54] maximilianh commented on #257
Thank you for this observation, we've had someone else complain about this, and it's not intended to be like this, but a bug that has to do with how the MD5 checksums are calculated. Can you give me a few more details?

having an incorrect MD5 in the URL should not matter, should not trigger an error, as they're after the "?" character, so not part of the URL. The MD5 is there only to get around t

[2022-11-14 15:50] samfenske commented on #257
Maximilian, thank you for getting back to me! I can provide more specifics. When I go to the collection URL, the dataset is there, and I can refresh/clear cache, and the dataset will still be there. I can go ahead and open the dataset, but if I now try to refresh/clear cache I get the error. It seems the link is invalid- with a dataset opened and working, if I copy and paste the URL into another t

[2022-11-14 16:19] maximilianh commented on #257
Very odd. This is different from what I thought. Do you have an example of
a failing URL?

On Mon, Nov 14, 2022 at 4:51 PM Sam Fenske ***@***.***> wrote:

[2022-11-14 16:26] samfenske commented on #257
The collection is internal so you can't access it without certain VPN, but the URL is structured like this: `...northwestern.edu/long-covid/?ds=01integrated_BAL_v5`. Some of our public datasets are available at `https://nupulmonary.org/resources/`, which are structured the same way.

[2022-11-14 16:29] maximilianh commented on #257
I don't understand how this can happen...
northwestern.edu/long-covid/?ds=01integrated_BAL_v5 doesn't have any MD5 in
it. When you open the console, the error'ing URLs have the ?md5=xxxx in
them, but that's OK. The files should still load. the part after the "?" is
ignored after the URLs...

I wonder if this could have something to do with your webserver... does
this also happen on nupulmonary.org

[2022-11-14 20:37] samfenske commented on #257
I only get the md5 code in the error message, it never actually presents itself in the URL. I haven't seen this happen on nupulmonary. I have gotten this error before on our internal browser, but it was a brand new project so I just made a new collection and it worked fine. This collection was functioning fine until last week something must've happened when I was removing datasets. I would remove

[2022-11-15 10:21] maximilianh commented on #257
I am sorry but if this happens again, I can't say more. Can you send me a
concrete list steps such that I can reproduce this? We don't have the
problem here, it's definitely not related to your webserver, but if I can't
see the error in action and can't open the Javascript console myself, I
can't debug it. If this happens again, you could copy the entire folder to
your public webserver to a hidden